:host { 
  display: contents; 
}
.reset-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.reset-password-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.reset-password-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 507px;
  bottom: 0px;
  height: 320px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.reset-password-text {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  text-align: center;
  font-family: Roboto;
  user-select: none;
}
.reset-password-text1 {
  color: rgb(144, 144, 144);
  width: auto;
  font-size: 18px;
  align-self: center;
  margin-top: 4%;
  text-align: center;
  font-family: Roboto;
  margin-left: 5%;
  margin-right: 5%;
}
.reset-password-container3 {
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.reset-password-text5 {
  color: rgb(144, 144, 144);
  width: auto;
  font-size: 18px;
  align-self: flex-start;
  font-family: Roboto;
  margin-left: 7.5%;
}
.reset-password-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.reset-password-button {
  color: #ffffff;
  width: 80%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.reset-password-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.reset-password-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.reset-password-button:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.reset-password-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.reset-password-text6 {
  left: 0px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  line-height: 1.15;
}
@media(max-width: 991px) {
  .reset-password-text6 {
    position: static;
  }
}
@media(max-width: 479px) {
  .reset-password-container2 {
    width: 95%;
    height: 256px;
  }
  .reset-password-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .reset-password-text6 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
}
