<div class="registration-profile-container">
  <div class="registration-profile-container1">
    <h1 class="registration-profile-text notselectable">Hi, {{sessionStorage.getItem("firstName")}}!</h1>
    <div class="registration-profile-container2">
      <div class="registration-profile-container3">
        <button class="registration-profile-button button">
          <span class="registration-profile-text1"></span>
        </button>
        <img
          alt="image"
          src="https://api.dicebear.com/5.x/identicon/svg?backgroundType=gradientLinear,solid&backgroundColor=ffd5dc,d1d4f9,c0aede,b6e3f4,ffdfbf&row1[]&row5[]&seed=0"
          [ngSrc]="username != '' ? 'https://api.dicebear.com/5.x/identicon/svg?backgroundType=gradientLinear,solid&row1[]&row5[]&backgroundColor=ffd5dc,d1d4f9,c0aede,b6e3f4,ffdfbf&seed=' + username : 'https://api.dicebear.com/5.x/identicon/svg?backgroundType=gradientLinear,solid&backgroundColor=ffd5dc,d1d4f9,c0aede,b6e3f4,ffdfbf&row1[]&row5[]&seed=0'"
          class="registration-profile-image"
        />
      </div>
      <div class="registration-profile-container4">
        <div class="registration-profile-container5">
          <span class="registration-profile-text2 notselectable">
            Display Name
          </span>
          <input
            type="text"
            id="display_name"
            required="required"
            placeholder="John Doe"
            autocomplete="nickname"
            class="registration-profile-textinput input"
          />
        </div>
        <div class="registration-profile-container6">
          <span class="registration-profile-text3 notselectable">Username</span>
          <input
            type="text"
            id="username"
            required="required"
            placeholder="john_doe"
            autocomplete="username"
            [autocapitalize]="false"
            (input)="updateUsername($event)"
            [value]="username"
            pattern="^[a-z0-9_]*$"
            class="registration-profile-textinput1 input"
          />
        </div>
      </div>
    </div>
    <button
      id="finish"
      type="button"
      class="registration-profile-button1 button"
      (click)="submitForm()"
    >
      <svg id="finish-icon" viewBox="0 0 1024 1024" class="registration-profile-icon">
        <path
          d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span id="finish-text" class="registration-profile-text4">Finish Registration</span>
    </button>
  </div>
  <div class="registration-profile-container7">
    <span class="registration-profile-text5 notselectable">2FA Protection</span>
    <span class="registration-profile-text6 notselectable">
      For your ID safety, we suggest enabling multi-factor authentication in
      your ID Settings after you register!
    </span>
  </div>
</div>
