<div class="billing-content">
  <div class="billing-container">
    <svg viewBox="0 0 1024 1024" class="billing-icon">
      <path
        d="M725.333 426.667h-42.667v-85.333c0-94.080-76.544-170.667-170.667-170.667s-170.667 76.587-170.667 170.667v85.333h-42.667c-47.061 0-85.333 38.229-85.333 85.333v298.667c0 47.104 38.272 85.333 85.333 85.333h426.667c47.061 0 85.333-38.229 85.333-85.333v-298.667c0-47.104-38.272-85.333-85.333-85.333zM512 780.757c-30.677 0-55.467-24.747-55.467-55.424s24.789-55.509 55.467-55.509 55.467 24.832 55.467 55.509-24.789 55.424-55.467 55.424zM597.333 469.333h-170.667v-128c0-47.104 38.272-85.333 85.333-85.333s85.333 38.229 85.333 85.333v128z"
      ></path>
    </svg>
    <h1 class="billing-text notselectable">
      <span>Payment Methods</span>
      <br />
    </h1>
  </div>
  <div class="billing-container1">
    <payment-method
      logo="/assets/visa%20white%20background-200h.png"
    ></payment-method>
    <payment-method
      logo="/assets/mastercard%20white%20background-200h.png"
      name="Mastercard ending in 6554"
    ></payment-method>
    <button id="login" type="button" class="billing-button button">
      <svg viewBox="0 0 1024 1024" class="billing-icon2">
        <path
          d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
        ></path>
      </svg>
      <span class="billing-text03">Add Payment Method</span>
    </button>
  </div>
  <h1 class="billing-text04 notselectable">
    <span>Transaction History</span>
    <br />
  </h1>
  <div class="billing-container2">
    <div class="billing-container3">
      <h1 class="billing-text07 notselectable">Date</h1>
      <h1 class="billing-text08 notselectable">Product</h1>
      <h1 class="billing-text09 notselectable">Amount</h1>
    </div>
    <app-transaction amount="9.99 EUR"></app-transaction>
  </div>
  <span class="billing-text10 notselectable">
    Your payment details, including card numbers, cardholder names, expiration
    dates, CVCs, and addresses, are not stored by Wulfco. All payments are
    securely outsourced to Stripe and PayPal respectively for processing and
    storage, ensuring the highest level of data protection.
  </span>
</div>
