<div class="edit-birthday-container">
  <h1 class="edit-birthday-text notselectable">Change your birthday</h1>
  <span class="edit-birthday-text1 notselectable">
    Enter a new birthday and your existing password
  </span>
  <div class="edit-birthday-container1">
    <span class="edit-birthday-text2 notselectable">
      <span>Birthday</span>
      <br />
    </span>
    <input
      type="date"
      id="birthday_new"
      name="birthday_new"
      required="true"
      placeholder="12"
      autocomplete="bday"
      class="edit-birthday-textinput input"
    />
  </div>
  <div class="edit-birthday-container2">
    <span class="edit-birthday-text5 notselectable">Password</span>
    <input
      type="password"
      id="password"
      name="password"
      required="true"
      placeholder="••••••••••••••••••••••••"
      autocomplete="current-password"
      class="edit-birthday-textinput1 input"
    />
  </div>
  <div class="edit-birthday-container3">
    <button id="cancel" type="button" class="edit-birthday-button button">
      <svg viewBox="0 0 1024 1024" class="edit-birthday-icon">
        <path
          d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="edit-birthday-text6">Cancel</span>
    </button>
    <button id="confirm" type="button" class="edit-birthday-button1 button">
      <svg viewBox="0 0 1024 1024" class="edit-birthday-icon2">
        <path
          d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="edit-birthday-text7">Confirm</span>
    </button>
  </div>
</div>
