<div class="name-security-key-container">
  <h1 class="name-security-key-text notselectable">Finish setting up</h1>
  <span class="name-security-key-text1 notselectable">
    Please enter a name for your key and your password.
  </span>
  <div class="name-security-key-container1">
    <span class="name-security-key-text2 notselectable">Key Name</span>
    <input
      type="text"
      id="username_new"
      name="username_new"
      required="true"
      placeholder="YubiKey, Titan, ..."
      autocomplete="username"
      class="name-security-key-textinput input"
    />
  </div>
  <div class="name-security-key-container2">
    <span class="name-security-key-text3 notselectable">Password</span>
    <input
      type="password"
      id="password"
      name="password"
      required="true"
      autofocus="true"
      maxlength="20"
      minlength="3"
      placeholder="••••••••••••••••••••••••"
      autocomplete="current-password"
      class="name-security-key-textinput1 input"
    />
    <div class="name-security-key-container3">
      <button id="cancel" type="button" class="name-security-key-button button">
        <svg viewBox="0 0 1024 1024" class="name-security-key-icon">
          <path
            d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="name-security-key-text4">Cancel</span>
      </button>
      <button
        id="confirm"
        type="button"
        class="name-security-key-button1 button"
      >
        <svg viewBox="0 0 1024 1024" class="name-security-key-icon2">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="name-security-key-text5">Confirm</span>
      </button>
    </div>
  </div>
</div>
