<div class="connected-apps-content">
  <h1 class="connected-apps-text notselectable">Connections</h1>
  <div class="connected-apps-container">
    <div class="connected-apps-container1">
      <h1 class="connected-apps-text1 notselectable">
        Add accounts to your profile
      </h1>
      <span class="connected-apps-text2 notselectable">
        This information will not be shared outside of Wulfco without your
        permission, and is used in accordance with Wulfco&apos;s
      </span>
      <a
        href="https://id.vikkivuk.xyz/legal/privacy-policy.html"
        target="_blank"
        rel="noreferrer noopener"
        class="connected-apps-link"
      >
        Privacy Policy
      </a>
    </div>
    <div class="connected-apps-container2">
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
      <connection-button></connection-button>
    </div>
  </div>
  <div class="connected-apps-container3">
    <div class="connected-apps-container4">
      <span class="connected-apps-text3 notselectable">IMPORT</span>
      <span class="connected-apps-text4 notselectable">
        You can also import your connections from Discord!
      </span>
    </div>
    <button id="send" type="button" class="connected-apps-button button">
      <svg viewBox="0 0 1024 1024" class="connected-apps-icon">
        <path
          d="M804.571 530.286v182.857c0 90.857-73.714 164.571-164.571 164.571h-475.429c-90.857 0-164.571-73.714-164.571-164.571v-475.429c0-90.857 73.714-164.571 164.571-164.571h402.286c10.286 0 18.286 8 18.286 18.286v36.571c0 10.286-8 18.286-18.286 18.286h-402.286c-50.286 0-91.429 41.143-91.429 91.429v475.429c0 50.286 41.143 91.429 91.429 91.429h475.429c50.286 0 91.429-41.143 91.429-91.429v-182.857c0-10.286 8-18.286 18.286-18.286h36.571c10.286 0 18.286 8 18.286 18.286zM1024 36.571v292.571c0 20-16.571 36.571-36.571 36.571-9.714 0-18.857-4-25.714-10.857l-100.571-100.571-372.571 372.571c-3.429 3.429-8.571 5.714-13.143 5.714s-9.714-2.286-13.143-5.714l-65.143-65.143c-3.429-3.429-5.714-8.571-5.714-13.143s2.286-9.714 5.714-13.143l372.571-372.571-100.571-100.571c-6.857-6.857-10.857-16-10.857-25.714 0-20 16.571-36.571 36.571-36.571h292.571c20 0 36.571 16.571 36.571 36.571z"
        ></path>
      </svg>
      <span class="connected-apps-text5">Import my Connections</span>
    </button>
  </div>
  <connected-app
    appname="Facebook"
    username="VikkiVuk"
    rootClassName="connected-app-root-class-name"
  ></connected-app>
</div>
