:host { 
  display: contents; 
}
.whats-new-category-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: 10%;
  flex-direction: column;
  justify-content: flex-start;
}
.whats-new-category-text {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.whats-new-category-text1 {
  color: rgb(185, 187, 190);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
}
.whats-new-category-root-class-name {
  margin-top: 0px;
}
