:host { 
  display: contents; 
}
.authorize-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.authorize-container1 {
  width: 1216px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 5%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: center;
}
.authorize-text {
  color: var(--dl-color-maincolors-headingcolor);
  width: auto;
  cursor: default;
  font-size: 1.5em;
  align-self: center;
  margin-top: 5%;
  text-align: left;
  font-family: Roboto;
}
.authorize-container2 {
  flex: 0 0 auto;
  width: 80%;
  height: 3px;
  display: flex;
  margin-top: 2%;
  align-items: flex-start;
  background-color: var(--dl-color-maincolors-containerincontainerbg);
}
.authorize-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 4%;
  align-items: center;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: center;
}
.authorize-container4 {
  width: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.authorize-image {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.authorize-text1 {
  margin-top: 10%;
}
.authorize-image1 {
  width: 140px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.authorize-container5 {
  width: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.authorize-image2 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.authorize-text2 {
  margin-top: 10%;
}
.authorize-container6 {
  flex: 0 0 auto;
  width: 80%;
  height: 3px;
  display: flex;
  margin-top: 2%;
  align-items: flex-start;
  background-color: var(--dl-color-maincolors-containerincontainerbg);
}
.authorize-text3 {
  align-self: flex-start;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.authorize-container7 {
  width: 80%;
  display: flex;
  margin-top: 3%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.authorize-button {
  color: #ffffff;
  width: 15%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-cancellationbuttons-cancelbuttoncolor);
}
.authorize-button:hover {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonhover);
}
.authorize-button:active {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonactive);
}
.authorize-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.authorize-text4 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  position: absolute;
  align-self: center;
  text-align: center;
  line-height: 1.15;
}
.authorize-button1 {
  color: #ffffff;
  width: 28%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 3%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.authorize-button1:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.authorize-button1:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.authorize-button1:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.authorize-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.authorize-text5 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: center;
  line-height: 1.15;
}
@media(max-width: 991px) {
  .authorize-text4 {
    position: static;
  }
  .authorize-text5 {
    position: static;
  }
}
@media(max-width: 479px) {
  .authorize-container1 {
    width: 85%;
  }
  .authorize-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .authorize-text4 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .authorize-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .authorize-text5 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
}
