<div class="summary-container">
  <div class="summary-container1">
    <button ngHcaptchaInvisibleButton></button>
    <img *ngIf="loaded" alt="image" class="summary-image" [ngSrc]="userData['profile'].avatar" width="143px" height="143px"/>
    <ngx-skeleton-loader *ngIf="!loaded" name="skeleton" class="summary-image" [appearance]="'circle'" [theme]="{backgroundColor: '#1c1c1c', width:'143px', height: '143px', marginTop:'0', marginBottom:'0', alignSelf: 'center'}" [count]="1" [animation]="'progress-dark'"></ngx-skeleton-loader>
    <div class="summary-name">
      <span class="summary-text">Hello there,</span>
      <h1 *ngIf="loaded" class="summary-text01" id="name">{{userData["profile"]["name"][0]}}</h1>
      <ngx-skeleton-loader *ngIf="!loaded" class="summary-text01" [theme]="{backgroundColor: '#1c1c1c', width:'300px', height: '30px', marginTop:'1%', alignSelf: 'center'}" [count]="1" [animation]="'progress-dark'"></ngx-skeleton-loader>
    </div>
    <a routerLink="/account-settings" class="summary-navlink button">
      <svg viewBox="0 0 1024 1024" class="summary-icon">
        <path d="M512 662q62 0 106-44t44-106-44-106-106-44-106 44-44 106 44 106 106 44zM830 554l90 70q14 10 4 28l-86 148q-8 14-26 8l-106-42q-42 30-72 42l-16 112q-4 18-20 18h-172q-16 0-20-18l-16-112q-38-16-72-42l-106 42q-18 6-26-8l-86-148q-10-18 4-28l90-70q-2-14-2-42t2-42l-90-70q-14-10-4-28l86-148q8-14 26-8l106 42q42-30 72-42l16-112q4-18 20-18h172q16 0 20 18l16 112q38 16 72 42l106-42q18-6 26 8l86 148q10 18-4 28l-90 70q2 14 2 42t-2 42z"></path>
      </svg>
    </a>
  </div>
  <div class="summary-container2">
    <div class="summary-container3">
      <svg *ngIf="loaded" name="async" viewBox="0 0 1024 1024" [ngClass]="['summary-icon02', userData['account'].security.protected ? 'secure' : 'unsecure']">
        <path d="M512 42l384 172v256q0 178-110 325t-274 187q-164-40-274-187t-110-325v-256zM512 512v382q118-38 200-143t98-239h-298zM512 512v-376l-298 132v244h298z"></path>
      </svg>
      <ngx-skeleton-loader *ngIf="!loaded" class="summary-image" [theme]="{backgroundColor: '#1c1c1c', width:'143px', height: '143px', marginTop:'1%', alignSelf: 'center'}" [count]="1" [animation]="'progress-dark'"></ngx-skeleton-loader>
      <div class="summary-name1">
        <h1 class="summary-text02">Security</h1>
        <span name="async" class="summary-text03" *ngIf="loaded">
          <span>Your account is {{userData["account"].security.protected ? '' : 'NOT'}}</span>
          <br />
          <span>secured with 2FA</span>
        </span>
        <ngx-skeleton-loader *ngIf="!loaded" class="summary-text03" [theme]="{backgroundColor: '#1c1c1c', width:'300px', height: '60px', marginTop:'1%', alignSelf: 'center'}" [count]="1" [animation]="'progress-dark'"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="summary-container4">
      <svg viewBox="0 0 1024 1024" class="summary-icon04">
        <path d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"></path>
      </svg>
      <div class="summary-name2">
        <h1 class="summary-text09">Alerts</h1>
        <span class="summary-text10">See what&apos;s up.</span>
      </div>
      <a href="https://id.wulfco.xyz/help" target="_blank" rel="noreferrer noopener" class="summary-logout button">-&gt;</a>
    </div>
  </div>
  <div class="summary-container5">
    <div class="summary-name3">
      <h1 class="summary-text11">Looking for Help?</h1>
      <span class="summary-text12">
        <span>If you got lost or need help please contact us</span>
        <br />
        <span>on our support site.</span>
      </span>
    </div>
    <a href="https://id.wulfco.xyz/help" target="_blank" rel="noreferrer noopener" class="summary-logout1 button">-&gt;</a>
  </div>
  <a href="https://id.wulfco.xyz/logout" target="_blank" rel="noreferrer noopener" class="summary-logout2 button">&lt;- Log out</a>
  <div class="summary-screen-size-warning">
    <h1 class="summary-text16 notselectable">
      <span class="summary-text17">Sorry but...</span>
    </h1>
    <h1 class="summary-text18">
      <span>
        We apologize for any inconvenience, but at the moment, our support is
        limited to desktop or screens with desktop-sized dimensions.
      </span>
      <br />
      <br />
      <span>
        This limitation is in place to address overflow and rendering concerns.
        We are actively considering its removal in the future
      </span>
    </h1>
    <a routerLink="/summary" class="summary-navlink1 button">
      <svg viewBox="0 0 1024 1024" class="summary-icon06">
        <path d="M512 128l342 256v512h-214v-298h-256v298h-214v-512z"></path>
      </svg>
      <span class="summary-text24">Go Home</span>
    </a>
  </div>
</div>
