<div class="verify-email-container">
  <div class="verify-email-container1">
    <h1 class="verify-email-text notselectable">Email Verification</h1>
    <span class="verify-email-text1 notselectable">
      Please enter the code sent to your email!
    </span>
    <div class="verify-email-container2">
      <span class="verify-email-text2 notselectable">Code</span>
      <input
        type="number"
        id="code"
        max="6"
        min="6"
        name="code"
        step="0"
        required="true"
        placeholder="000-000"
        autocomplete="off"
        class="verify-email-textinput input"
      />
    </div>
    <button id="verify" type="button" class="verify-email-button button">
      <svg viewBox="0 0 1024 1024" class="verify-email-icon">
        <path
          d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="verify-email-text3">Verify</span>
    </button>
  </div>
</div>
