:host { 
  display: contents; 
}
.edit-birthday-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 457px;
  bottom: 0px;
  height: 357px;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.edit-birthday-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  margin-top: 5%;
}
.edit-birthday-text1 {
  font-size: 16px;
  margin-top: 2%;
}
.edit-birthday-container1 {
  width: 422px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.edit-birthday-text2 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.edit-birthday-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.edit-birthday-container2 {
  width: 422px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.edit-birthday-text5 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.edit-birthday-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.edit-birthday-container3 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 14px;
  justify-content: flex-end;
  background-color: #161616;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.edit-birthday-button {
  color: #ffffff;
  width: 130px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-cancellationbuttons-cancelbuttoncolor);
}
.edit-birthday-button:hover {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonhover);
}
.edit-birthday-button:active {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonactive);
}
.edit-birthday-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
  align-self: center;
}
.edit-birthday-text6 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  position: absolute;
  align-self: center;
  text-align: center;
  line-height: 1;
}
.edit-birthday-button1 {
  color: #ffffff;
  width: 150px;
  height: 37px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  margin-right: 5%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.edit-birthday-button1:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.edit-birthday-button1:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.edit-birthday-button1:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.edit-birthday-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 28px;
  height: 28px;
}
.edit-birthday-text7 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  margin: auto;
  position: absolute;
  line-height: 1;
}
@media(max-width: 1200px) {
  .edit-birthday-container {
    height: 426px;
    opacity: 1;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .edit-birthday-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .edit-birthday-text1 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
  .edit-birthday-container3 {
    margin-top: 5%;
    border-width: 0px;
    border-radius: 14px;
    background-color: #161616;
  }
}
@media(max-width: 991px) {
  .edit-birthday-container {
    opacity: 1;
    z-index: 100;
  }
  .edit-birthday-text6 {
    position: static;
  }
}
@media(max-width: 479px) {
  .edit-birthday-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .edit-birthday-text6 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .edit-birthday-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
}
.edit-username-loader{
  width: 100%;
  height: 100%;
  color: #ffffff;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  display: block;
  z-index: 5;
  top: -0.025cm;
}