:host { 
  display: contents; 
}
.coming-soon-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.coming-soon-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coming-soon-icon {
  fill: #ff4444;
  width: 130px;
  height: 130px;
}
.coming-soon-text {
  color: var(--dl-color-maincolors-headingcolor);
  margin-top: 3%;
  font-family: Roboto;
}
.coming-soon-text1 {
  font-family: Roboto;
}
.coming-soon-text2 {
  color: rgb(135, 135, 135);
  font-size: 1.2em;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
}
.coming-soon-navlink {
  color: #ffffff;
  width: 434px;
  height: 71px;
  display: flex;
  position: relative;
  font-size: 20px;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2.7;
  border-width: 0px;
  border-radius: 14px;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.coming-soon-navlink:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.coming-soon-navlink:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.coming-soon-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 34px;
  height: 32px;
}
.coming-soon-text6 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  margin: auto;
  position: absolute;
  line-height: 1;
}
@media(max-width: 479px) {
  .coming-soon-text {
    width: 90%;
    text-align: center;
  }
  .coming-soon-text2 {
    width: 90%;
    margin-top: 2%;
    text-align: center;
  }
  .coming-soon-navlink {
    width: 90%;
    margin-top: 5%;
  }
}
