.coming-soon-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  position: absolute;
  z-index: 1;
}
.coming-soon-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: default;
  user-select: none;
  display: flex;
  align-items: center;
}

body.loading {
  overflow: hidden;
}