:host { 
  display: contents; 
}
.registration-finish-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-finish-container1 {
  width: 600px;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-finish-text {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.registration-finish-container2 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-finish-container3 {
  width: 130px;
  height: 130px;
  position: relative;
  align-self: flex-end;
  margin-left: 5%;
}
.registration-finish-button {
  top: 0px;
  left: 0px;
  color: var(--dl-color-maincolors-background);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: transparent;
}
.registration-finish-text1 {
  width: 0px;
  height: 0px;
  z-index: -10;
}
.registration-finish-image {
  width: 130px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.registration-finish-container4 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: center;
}
.registration-finish-container5 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 3%;
  align-items: flex-start;
  flex-direction: column;
}
.registration-finish-text2 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.registration-finish-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.registration-finish-container6 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 3%;
  align-items: flex-start;
  flex-direction: column;
}
.registration-finish-text3 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.registration-finish-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.registration-finish-button1 {
  color: #ffffff;
  width: 58.3%;
  height: 37px;
  display: flex;
  position: relative;
  align-self: flex-end;
  font-style: normal;
  margin-top: 3%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  margin-right: 8.5%;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.registration-finish-button1:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.registration-finish-button1:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.registration-finish-button1:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.registration-finish-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.registration-finish-text4 {
  top: 5px;
  left: 0px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 0px;
  margin: auto;
  position: absolute;
}
.registration-finish-container7 {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-finish-text5 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 3%;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-left: 2.5%;
}
.registration-finish-text6 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
}
.registration-finish-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 479px) {
  .registration-finish-container {
    align-items: center;
  }
  .registration-finish-container1 {
    width: 90%;
    height: auto;
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .registration-finish-text {
    margin-top: 1%;
  }
  .registration-finish-container2 {
    margin-top: 5%;
  }
  .registration-finish-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
    align-items: center;
    justify-content: flex-start;
  }
  .registration-finish-text4 {
    position: static;
    align-self: center;
    line-height: 1;
  }
  .registration-finish-container7 {
    width: 90%;
  }
}
