/* LightningBoltLoader.css */
.bolt {
    --bolt: #ff4444; /* Change the color to #ff4444 */
    width: 126px;
    height: 186px;
    position: relative;
}

.bolt svg {
    position: absolute;
    display: block;
    stroke-width: 4;
    fill: none;
    stroke-linecap: round;
}

.bolt .circle {
    left: 7px;
    top: 100%;
    width: 112px;
    height: 44px;
    stroke-dashoffset: 179px;
    stroke-dasharray: 0px 178px;
}

.bolt .line {
    --r: 0deg;
    top: 95%;
    width: 70px;
    height: 3px;
    stroke-dashoffset: 71px;
    stroke-dasharray: 0px 70px;
    transform: rotate(var(--r));
}

.bolt .line.left {
    --r: 130deg;
    left: -24px;
}

.bolt .line.right {
    --r: 40deg;
    right: -24px;
}

.bolt .white {
    --r: 0deg;
    --s: 1;
    top: 30%;
    z-index: 1;
    stroke: var(--bolt); /* Use the --bolt variable for the color */
    stroke-dashoffset: 241px;
    stroke-dasharray: 0px 240px;
    transform: rotate(var(--r)) scaleX(var(--s));
}

.bolt .white.left {
    --r: -20deg;
    left: 0;
}

.bolt .white.right {
    --r: 20deg;
    --s: -1;
    right: 0;
}

.bolt div {
    display: block;
    position: relative;
}

.bolt div:before,
.bolt div:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 44%;
}

.bolt div:before {
    width: 112px;
    height: 112px;
    margin: -56px 0 0 -56px;
    background: #CDD9ED;
    filter: blur(124px);
}

.bolt div:after {
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    background: #FFF9BC;
    z-index: 1;
    filter: blur(60px);
}

.bolt div span {
    display: block;
    width: 126px;
    height: 186px;
    background: var(--bolt); /* Use the --bolt variable for the color */
    clip-path: polygon(40% 0%, 100% 0, 65% 40%, 88% 40%, 8% 100%, 36% 50%, 0 50%);
}

.bolt.animate div:before,
.bolt.animate div:after {
    animation: shine 2s ease;
}

.bolt.animate div span {
    animation: morph 2s ease;
}

@keyframes circle {
    100% {
        stroke-dasharray: 178px 178px;
    }
}

@keyframes white {
    100% {
        stroke-dasharray: 240px 240px;
    }
}

@keyframes line {
    100% {
        stroke-dasharray: 70px 70px;
    }
}

@keyframes shine {
    30%,
    70% {
        opacity: 0;
    }
}

@keyframes morph {
    12% {
        clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
    }
    24%,
    72% {
        clip-path: polygon(36% 40%, 82% 40%, 82% 40%, 82% 40%, 36% 71%, 36% 40%, 36% 40%);
    }
    84% {
        clip-path: polygon(40% 5%, 100% 0, 65% 40%, 65% 40%, 8% 100%, 24% 50%, 24% 50%);
    }
}