<div class="gifts-content">
  <h1 class="gifts-text notselectable">
    <span>Redeem Codes</span>
    <br />
  </h1>
  <div class="gifts-container">
    <span class="gifts-text03 notselectable">
      RECEIVED A GIFT? THAT&apos;S EXCITING! ENTER IT BELOW:
    </span>
    <div class="gifts-container1">
      <input
        type="text"
        id="gift_code"
        required="true"
        autofocus="true"
        placeholder="WULF-XXXX-AAAA-BBBB-CCCC"
        autocomplete="off"
        class="gifts-textinput input"
      />
      <button id="confirm" type="button" class="gifts-button button">
        <svg viewBox="0 0 1024 1024" class="gifts-icon">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="gifts-text04">Reedem</span>
      </button>
    </div>
  </div>
  <h1 class="gifts-text05 notselectable">
    <span>Gifts you purchased</span>
    <br />
  </h1>
  <span class="gifts-text08 notselectable">
    <span>You haven&apos;t bought any gifts yet :(</span>
    <br />
  </span>
</div>
