:host { 
  display: contents; 
}
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.login-container1 {
  width: 786px;
  height: 418px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 14px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #181818;
}
.login-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  text-align: center;
  font-family: Roboto;
}
.login-container3 {
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text01 {
  color: rgb(144, 144, 144);
  width: auto;
  font-size: 18px;
  align-self: flex-start;
  font-family: Roboto;
  margin-left: 8%;
}
.login-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.login-container4 {
  width: 95%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text02 {
  color: rgb(144, 144, 144);
  width: auto;
  font-size: 18px;
  align-self: flex-start;
  font-family: Roboto;
  margin-left: 8%;
}
.login-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.login-navlink {
  right: 17px;
  bottom: 0px;
  display: flex;
  position: absolute;
  border-width: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.login-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 20px;
  height: 20px;
}
.login-button {
  color: #ffffff;
  width: 85%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.login-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.login-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.login-button:disabled {
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
  cursor: default;
}
.login-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 26px;
  height: 26px;
  align-self: center;
}
.login-text03 {
  left: 0;
  color: var(--dl-color-maincolors-headingcolor);
  right: 0;
  margin: auto;
  position: absolute;
  align-self: center;
  line-height: 1.15;
}
.login-button1 {
  color: #ffffff;
  width: 85%;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-cancellationbuttons-cancelbuttoncolor);
}
.login-button1:hover {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonhover);
}
.login-button1:active {
  background-color: var(--dl-color-cancellationbuttons-cancelbuttonactive);
}
.login-icon4 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
  align-self: center;
}
.login-text04 {
  left: 0px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 0px;
  bottom: 6px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.login-container5 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.login-text05 {
  color: rgb(144, 144, 144);
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-navlink1 {
  color: var(--dl-color-confirmationbuttons-linkcolor);
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
  margin-left: 1%;
  text-decoration: none;
}
.login-navlink1:hover {
  color: var(--dl-color-confirmationbuttons-linkcolorhover);
}
.login-container6 {
  flex: 0 0 auto;
  width: 47%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-image {
  width: 208px;
  height: 208px;
  object-fit: cover;
  border-radius: 14px;
}
.login-text07 {
  color: var(--dl-color-maincolors-headingcolor);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.login-text11 {
  margin-top: 3%;
  text-align: center;
}
@media(max-width: 991px) {
  .login-icon2 {
    top: 8px;
    fill: #D9D9D9;
    right: 16px;
    position: absolute;
  }
  .login-text03 {
    position: static;
  }
  .login-text04 {
    position: static;
  }
}
@media(max-width: 479px) {
  .login-container1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    height: 400px;
    position: static;
    align-items: center;
    justify-content: center;
  }
  .login-text {
    margin-top: 0%;
  }
  .login-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .login-icon2 {
    top: 0px;
  }
  .login-text03 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .login-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .login-text04 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .login-container5 {
    position: static;
    margin-top: 5%;
  }
  .login-container6 {
    top: 208px;
    right: 36px;
    opacity: 0;
    z-index: -5;
    position: absolute;
  }
}
