:host { 
  display: contents; 
}
.security-content {
  width: 1193px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 4%;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.security-text {
  color: #d8d7d7;
  margin-top: 3%;
  margin-left: 3%;
}
.security-container {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text01 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.security-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.security-container02 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.security-container03 {
  width: 80%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-container04 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-text02 {
  color: rgb(216, 215, 215);
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text03 {
  color: var(--dl-color-success-300);
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 3%;
  margin-bottom: 1%;
}
.security-text04 {
  color: rgb(135, 135, 135);
}
.security-button {
  top: 31px;
  color: #ffffff;
  right: 0px;
  width: 150px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.security-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.security-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.security-button:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.security-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
}
.security-text05 {
  top: 5px;
  left: 57px;
  color: var(--dl-color-maincolors-headingcolor);
  margin: auto;
  position: absolute;
}
.security-container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.security-container06 {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text06 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.security-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.security-container08 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.security-container09 {
  width: 80%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-container10 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-text07 {
  color: #d8d7d7;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text08 {
  color: rgb(135, 135, 135);
}
.security-button1 {
  top: 31px;
  color: #ffffff;
  right: 0px;
  width: 150px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.security-button1:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.security-button1:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.security-button1:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.security-icon02 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
}
.security-text09 {
  top: 5px;
  left: 57px;
  color: var(--dl-color-maincolors-headingcolor);
  margin: auto;
  position: absolute;
}
.security-container11 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.security-authenticator-app {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.security-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 2%;
  align-items: flex-start;
  margin-bottom: 2%;
  justify-content: flex-start;
}
.security-container13 {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.security-container14 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-text10 {
  color: #d8d7d7;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text11 {
  color: rgb(135, 135, 135);
}
.security-button2 {
  top: 31px;
  color: #ffffff;
  right: 0px;
  width: 120px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.security-button2:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.security-button2:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.security-button2:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.security-icon04 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 22px;
}
.security-text12 {
  top: 0px;
  left: 52px;
  color: var(--dl-color-maincolors-headingcolor);
  bottom: 0px;
  margin: auto;
  position: absolute;
  line-height: 2.4;
}
.security-authenticator-app1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.security-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-container16 {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.security-container17 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-text13 {
  color: rgb(216, 215, 215);
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text14 {
  color: rgb(135, 135, 135);
}
.security-button3 {
  top: 31px;
  color: #ffffff;
  right: 0px;
  width: 120px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.security-button3:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.security-button3:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.security-button3:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.security-icon06 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 22px;
}
.security-text15 {
  top: 0px;
  left: 52px;
  color: var(--dl-color-maincolors-headingcolor);
  bottom: 0px;
  margin: auto;
  position: absolute;
  line-height: 2.4;
}
.security-email-authentication {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-container18 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 2%;
  align-items: flex-start;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: flex-start;
}
.security-container19 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.security-container20 {
  width: 491px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-text16 {
  color: #d8d7d7;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text17 {
  color: rgb(135, 135, 135);
}
.security-button4 {
  top: 31px;
  color: #ffffff;
  right: 0px;
  width: 120px;
  height: 37px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.security-button4:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.security-button4:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.security-button4:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.security-icon08 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 22px;
}
.security-text18 {
  top: 0px;
  left: 52px;
  color: var(--dl-color-maincolors-headingcolor);
  bottom: 0px;
  margin: auto;
  position: absolute;
  line-height: 2.4;
}
.security-container21 {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text19 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.security-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-container23 {
  width: 85%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text20 {
  color: rgb(216, 215, 215);
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text21 {
  color: rgb(135, 135, 135);
}
.security-link {
  text-decoration: underline;
}
.security-checkbox {
  top: 0px;
  right: 0px;
  width: 40px;
  bottom: 0px;
  cursor: pointer;
  height: 40px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius8);
}
.security-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-container25 {
  width: 85%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text24 {
  color: #d8d7d7;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text25 {
  color: rgb(135, 135, 135);
}
.security-link1 {
  text-decoration: underline;
}
.security-checkbox1 {
  top: 0px;
  right: 0px;
  width: 40px;
  bottom: 0px;
  cursor: pointer;
  height: 40px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius8);
}
.security-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0%;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-container27 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text27 {
  color: #d8d7d7;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 1%;
}
.security-text28 {
  color: rgb(135, 135, 135);
}
.security-link2 {
  text-decoration: underline;
}
.security-container28 {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  margin-bottom: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.security-text31 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.security-text32 {
  color: rgb(135, 135, 135);
  margin-top: 1%;
}
.security-container29 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.security-button5 {
  color: #ffffff;
  width: auto;
  display: flex;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-color: #3a30c9;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.security-button5:hover {
  background-color: #3a30c9;
}
.security-button5:active {
  border-color: #2b21ce;
  background-color: #332ab7;
}
.security-text33 {
  color: var(--dl-color-maincolors-headingcolor);
}
@media(max-width: 1200px) {
  .security-text13 {
    color: rgb(216, 215, 215);
    font-size: 1.4em;
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .security-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .security-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .security-button2 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .security-button3 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .security-button4 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
}
