:host { 
  display: contents; 
}
.add-card-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 457px;
  bottom: 0px;
  height: 458px;
  margin: auto;
  display: flex;
  z-index: 10;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: flex-start;
  padding-top: 1%;
  padding-left: 2%;
  border-radius: 14px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.add-card-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  margin-top: 5%;
}
.add-card-container1 {
  width: 100%;
  display: flex;
  margin-top: 6%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-card-text1 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.add-card-textinput {
  color: #ffffff;
  width: 90%;
  align-self: flex-start;
  margin-top: 1%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.add-card-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.add-card-container3 {
  width: 40%;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-card-text2 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.add-card-textinput1 {
  color: #ffffff;
  width: 100%;
  align-self: flex-start;
  margin-top: 1%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.add-card-container4 {
  width: 40%;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  margin-left: 10%;
  flex-direction: column;
  justify-content: flex-start;
}
.add-card-text3 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.add-card-textinput2 {
  color: #ffffff;
  width: 100%;
  align-self: flex-start;
  margin-top: 1%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.add-card-container5 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 14px;
  justify-content: flex-end;
  background-color: #161616;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.add-card-button {
  color: #ffffff;
  width: 130px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0C0C0C;
}
.add-card-button:hover {
  background-color: #121212;
}
.add-card-button:active {
  background-color: #0e0e0e;
}
.add-card-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
  align-self: center;
}
.add-card-text4 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  position: absolute;
  align-self: center;
  text-align: center;
  line-height: 1;
}
.add-card-button1 {
  color: #ffffff;
  width: 150px;
  height: 37px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  margin-right: 5%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.add-card-button1:hover {
  background-color: #1d74f9;
}
.add-card-button1:active {
  background-color: #0559da;
}
.add-card-button1:disabled {
  color: transparent;
  background-color: #004caf;
}
.add-card-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.add-card-text5 {
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  margin: auto;
  position: absolute;
  line-height: 1;
}
.add-card-container6 {
  width: 100%;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.add-card-text6 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.add-card-textinput3 {
  color: #ffffff;
  width: 90%;
  align-self: flex-start;
  margin-top: 1%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
@media(max-width: 1200px) {
  .add-card-container {
    height: 426px;
    opacity: 1;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .add-card-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .add-card-text1 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
  .add-card-text2 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
  .add-card-text3 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
  .add-card-container5 {
    margin-top: 5%;
    border-width: 0px;
    border-radius: 14px;
    background-color: #161616;
  }
  .add-card-text6 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
}
@media(max-width: 991px) {
  .add-card-container {
    opacity: 1;
    z-index: 100;
  }
  .add-card-text4 {
    position: static;
  }
}
@media(max-width: 479px) {
  .add-card-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .add-card-text4 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .add-card-button1 {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
}
