:host { 
  display: contents; 
}
.registration-start-container {
  width: 460px;
  height: 350px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-start-text {
  color: var(--dl-color-maincolors-headingcolor);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  text-align: center;
  font-family: Roboto;
}
.registration-start-container1 {
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  flex-direction: column;
}
.registration-start-text1 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.registration-start-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.registration-start-container2 {
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 3%;
  align-items: flex-start;
  flex-direction: column;
}
.registration-start-text2 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
  margin-left: 8%;
}
.registration-start-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.registration-start-button {
  color: #ffffff;
  width: 80%;
  height: 37px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  margin-top: 5%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.registration-start-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.registration-start-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.registration-start-button:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.registration-start-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 25px;
  height: 25px;
}
.registration-start-text3 {
  top: 5px;
  left: 0px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 0px;
  margin: auto;
  position: absolute;
}
.registration-start-container3 {
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 3%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.registration-start-text4 {
  color: rgb(144, 144, 144);
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.registration-start-navlink {
  color: var(--dl-color-confirmationbuttons-linkcolor);
  align-self: center;
  transition: 0.3s;
  margin-left: 1%;
  text-decoration: none;
}
.registration-start-navlink:hover {
  color: var(--dl-color-confirmationbuttons-linkcolorhover);
}
.registration-start-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
@media(max-width: 479px) {
  .registration-start-container {
    width: 95%;
    height: auto;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
  }
  .registration-start-button {
    left: 0px;
    right: 0px;
    width: 80%;
    position: static;
    margin-top: 6%;
  }
  .registration-start-text3 {
    position: static;
    line-height: 1;
  }
  .registration-start-container3 {
    align-self: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}
