:host { 
  display: contents; 
}
.add-payment-method-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 457px;
  bottom: 0px;
  height: 197px;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: flex-start;
  padding-top: 1%;
  padding-left: 2%;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.add-payment-method-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  margin-top: 4%;
}
.add-payment-method-text1 {
  font-size: 16px;
  font-style: normal;
  margin-top: 7%;
  font-family: Roboto;
  font-weight: 900;
}
.add-payment-method-container1 {
  width: 80%;
  display: flex;
  margin-top: 2%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.add-payment-method-save {
  color: rgb(255, 255, 255);
  width: 150px;
  height: auto;
  display: flex;
  position: relative;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.add-payment-method-save:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.add-payment-method-save:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.add-payment-method-save:disabled {
  cursor: default;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.add-payment-method-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
}
.add-payment-method-text2 {
  top: 11px;
  fill: var(--dl-color-maincolors-headingcolor);
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  margin: auto;
  position: absolute;
  font-size: 18px;
  line-height: 1;
}
.add-payment-method-save1 {
  color: rgb(255, 255, 255);
  width: 160px;
  height: auto;
  display: flex;
  position: relative;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.add-payment-method-save1:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.add-payment-method-save1:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.add-payment-method-save1:disabled {
  cursor: default;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.add-payment-method-icon2 {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
}
.add-payment-method-text3 {
  top: 11px;
  fill: var(--dl-color-maincolors-headingcolor);
  left: 42px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  line-height: 1;
}
.add-payment-method-button {
  top: 19px;
  color: #73767D;
  right: 20px;
  padding: 0px;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 300;
  border-width: 0px;
  background-color: transparent;
}
.add-payment-method-button:hover {
  color: #ffffff;
}
@media(max-width: 1200px) {
  .add-payment-method-container {
    height: 426px;
    opacity: 1;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .add-payment-method-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .add-payment-method-text1 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
}
@media(max-width: 991px) {
  .add-payment-method-container {
    opacity: 1;
    z-index: 100;
  }
}
