.account-settings-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #121212;
}
.account-settings-logout {
  top: 0px;
  left: 0px;
  color: rgb(166, 166, 166);
  position: absolute;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.account-settings-logout:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.account-settings-main {
  width: 1446px;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 7%;
  align-items: flex-start;
  margin-bottom: 7%;
  flex-direction: row;
  justify-content: flex-start;
}
.account-settings-sidebar {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-user-settings {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-text {
  color: rgb(135, 135, 135);
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 900;
}

.sidebar-button {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}

.sidebar-button-selected {
    color: rgb(0, 127, 255);
    width: 100%;
    font-style: normal;
    margin-top: 2%;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgba(43, 149, 255, 0.37);
}

.sidebar-button:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.account-settings-friends {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-container1 {
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 10%;
  background-color: #737373;
}
.account-settings-text1 {
  color: rgb(135, 135, 135);
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 900;
}
.account-settings-billing {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-container2 {
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 10%;
  background-color: #737373;
}
.account-settings-text2 {
  color: #878787;
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 900;
}
.sidebar-premium {
  color: #d4ab18;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.sidebar-premium:hover {
  color: #ffc600;
  background-color: #75682b;
}
.account-settings-undefined {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-container3 {
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 10%;
  background-color: #737373;
}
.account-settings-container4 {
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: 10%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #737373;
}
.account-settings-undefined1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-settings-button11 {
  color: rgb(166, 166, 166);
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.account-settings-button11:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.account-settings-screen-size-warning {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  opacity: 0;
  z-index: -1;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.account-settings-text3 {
  color: #ffffff;
  font-family: Roboto;
}
.account-settings-text4 {
  font-family: Roboto;
}
.account-settings-text5 {
  color: #878787;
  font-size: 1.2em;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
}
.account-settings-link {
  color: #ffffff;
  width: 434px;
  height: 71px;
  font-size: 20px;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2.7;
  border-width: 0px;
  border-radius: 14px;
  text-decoration: none;
  background-color: #007fff;
}
.account-settings-link:hover {
  background-color: #009bff;
}
.account-settings-a-p-i-down {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.account-settings-text09 {
  color: #ffffff;
  font-family: Roboto;
}
.account-settings-text10 {
  font-family: Roboto;
}
.account-settings-text11 {
  color: rgb(135, 135, 135);
  font-size: 1.2em;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
}
.account-settings-link1 {
  color: #ffffff;
  width: 434px;
  height: 71px;
  font-size: 20px;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2.7;
  border-width: 0px;
  border-radius: 14px;
  text-decoration: none;
  background-color: #007fff;
}
.account-settings-link1:hover {
  background-color: #009bff;
}
@media(max-width: 1200px) {
  .account-settings-screen-size-warning {
    opacity: 1;
    z-index: 100;
  }
}
@media(max-width: 991px) {
  .account-settings-screen-size-warning {
    opacity: 1;
    z-index: 100;
  }
}
@media(max-width: 479px) {
  .account-settings-container1 {
    position: static;
    margin-top: 7%;
  }
  .account-settings-container2 {
    position: static;
    margin-top: 7%;
  }
  .account-settings-container3 {
    position: static;
    margin-top: 7%;
  }
  .account-settings-container4 {
    position: static;
    margin-top: 7%;
  }
  .account-settings-text3 {
    width: 90%;
    text-align: center;
  }
  .account-settings-text5 {
    width: 90%;
    margin-top: 2%;
    text-align: center;
  }
  .account-settings-link {
    width: 90%;
    margin-top: 5%;
  }
}
