.authorize-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.authorize-container1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.authorize-container2 {
  width: 610px;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.authorize-text {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: default;
  font-size: 1.5em;
  align-self: center;
  margin-top: 8%;
  text-align: left;
  font-family: Roboto;
}
.authorize-container3 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 11%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.authorize-container4 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.authorize-image {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.authorize-text3 {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 7em;
  margin-left: 5%;
  margin-right: 5%;
}
.authorize-image1 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.authorize-container5 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.authorize-button {
  color: #ffffff;
  width: 526px;
  height: 41px;
  display: flex;
  align-self: center;
  font-style: normal;
  margin-top: 8%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 8%;
  flex-direction: row;
  justify-content: center;
  background-color: #0069FF;
}
.authorize-button:hover {
  background-color: #1d74f9;
}
.authorize-button:active {
  background-color: #0559da;
}
.authorize-button:disabled {
  background-color: #0069FF;
}
.authorize-text4 {
  width: auto;
  align-self: center;
}
@media(max-width: 479px) {
  .authorize-container2 {
    width: 85%;
  }
}
