<div class="connected-app-container" [ngClass]="rootClassName">
  <div class="connected-app-container1">
    <img
      id="appicon"
      [attr.src]="image_src"
      class="connected-app-image notselectable"
    />
    <div class="connected-app-container2">
      <span id="appusername" class="connected-app-text notselectable">
        {{ username }}
      </span>
      <span id="appname" class="connected-app-text1 notselectable">
        {{ appname }}
      </span>
    </div>
    <button id="delete" type="button" class="connected-app-button button">
      X
    </button>
  </div>
  <div class="connected-app-container3">
    <h1 class="connected-app-text2">Display on Profile</h1>
    <div class="connected-app-checkbox">
      <app-gooey-checkbox></app-gooey-checkbox>
    </div>
  </div>
</div>
