:host { 
  display: contents; 
}
.connected-app-container {
  width: 94%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: flex-start;
}
.connected-app-container1 {
  width: 100%;
  height: 117px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 14px;
  justify-content: flex-start;
  background-color: #121212;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.connected-app-image {
  width: 60px;
  height: 60px;
  align-self: center;
  object-fit: cover;
  margin-left: 3%;
  border-radius: var(--dl-radius-radius-round);
}
.connected-app-container2 {
  width: 85%;
  height: 51px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  margin-left: 1.5%;
  flex-direction: column;
  justify-content: flex-start;
}
.connected-app-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
}
.connected-app-text1 {
  color: var(--dl-color-maincolors-textcolor2);
  font-size: 18px;
  font-style: normal;
  margin-top: 0.5%;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
}
.connected-app-button {
  top: 0px;
  color: #73767D;
  right: 41px;
  bottom: 0px;
  margin: auto;
  padding: 0px;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 300;
  border-width: 0px;
  background-color: transparent;
}
.connected-app-button:hover {
  color: #ffffff;
}
.connected-app-container3 {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 14px;
  justify-content: flex-start;
  background-color: var(--dl-color-maincolors-containerincontainerbg);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.connected-app-text2 {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.2em;
  align-self: center;
  margin-left: 3%;
}
.connected-app-checkbox {
  top: 0;
  right: 30px;
  width: 80px;
  bottom: 0;
  cursor: pointer;
  height: 40px;
  margin: auto;
  position: absolute;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius8);
}

