<div class="change-email-step3-container">
  <h1 class="change-email-step3-text notselectable">Enter an email address</h1>
  <span class="change-email-step3-text1 notselectable">
    <span>Enter a new email address and your password.</span>
    <br />
  </span>
  <div class="change-email-step3-container1">
    <button (click)="cancel()" id="cancel" type="button" class="change-email-step3-button button">
      <svg viewBox="0 0 1024 1024" class="change-email-step3-icon">
        <path
          d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="change-email-step3-text4">Cancel</span>
    </button>
    <button
      id="confirm"
      type="button"
      class="change-email-step3-button1 button"
      (click)="confirm()"
    >
      <svg id="confirm-icon" viewBox="0 0 1024 1024" class="change-email-step3-icon2">
        <path
          d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span id="confirm-text" class="change-email-step3-text5">Confirm</span>
        <div id="confirm-loader" class="edit-username-loader"></div>
    </button>
  </div>
  <div class="change-email-step3-container2">
    <span class="change-email-step3-text6 notselectable">Email</span>
    <input
      type="email"
      id="email_new"
      required="true"
      placeholder="example@yourdomain.com"
      autocomplete="email"
      class="change-email-step3-textinput input"
    />
  </div>
  <div class="change-email-step3-container3">
    <span class="change-email-step3-text7 notselectable">Current Password</span>
    <input
      type="password"
      id="password"
      required="true"
      placeholder="••••••••••••••••••••••••"
      maxlength="20"
      minlength="3"
      autocomplete="current-password"
      class="change-email-step3-textinput1 input"
    />
  </div>
</div>
