<div class="my-id-content" [ngClass]="rootClassName">
  <h1 class="my-id-text notselectable">My ID</h1>
  <div class="my-id-user-profile">
    <div id="background" class="my-id-background"></div>
    <div class="my-id-content1">
      <div class="my-id-wrapper">
        <div class="my-id-username-wrapper">
          <span class="my-id-pointer notselectable">FULL NAME</span>
          <div class="my-id-container">
            <h1 id="displayname" class="my-id-current-username notselectable">
              John Doe
            </h1>
          </div>
          <button
            id="edit_displayname"
            type="button"
            class="my-id-button button"
          >
            <svg viewBox="0 0 1024 1024" class="my-id-icon">
              <path
                d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
              ></path>
            </svg>
          </button>
          <button id="edit_name" type="button" class="my-id-button1 button">
            <svg viewBox="0 0 1024 1024" class="my-id-icon02">
              <path
                d="M554 554v-256h-84v256h84zM554 726v-86h-84v86h84zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
              ></path>
            </svg>
            <h1 class="my-id-text1">Verify Identity</h1>
          </button>
        </div>
        <div class="my-id-username-wrapper1">
          <span class="my-id-pointer1 notselectable">USERNAME</span>
          <div class="my-id-container1">
            <div class="my-id-container2">
              <h1 id="username" class="my-id-current-username1 notselectable">
                john_doe
              </h1>
            </div>
          </div>
          <button id="edit_username" type="button" class="my-id-button2 button">
            <svg viewBox="0 0 1024 1024" class="my-id-icon04">
              <path
                d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="my-id-email-wrapper">
          <span class="my-id-pointer2 notselectable">EMAIL</span>
          <div class="my-id-container3">
            <h1 id="email_profile" class="my-id-current-email notselectable">
              johndoe@gmail.com
            </h1>
          </div>
          <button id="edit_email" type="button" class="my-id-button3 button">
            <svg viewBox="0 0 1024 1024" class="my-id-icon06">
              <path
                d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="my-id-birthday-wrapper">
          <span class="my-id-pointer3 notselectable">BIRTHDAY</span>
          <div class="my-id-container4">
            <h1
              id="birthday_profile"
              class="my-id-current-birthday notselectable"
            >
              30/04/2000
            </h1>
          </div>
          <button id="edit_birthday" type="button" class="my-id-button4 button">
            <svg viewBox="0 0 1024 1024" class="my-id-icon08">
              <path
                d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="my-id-info">
      <div class="my-id-info1">
        <img
          id="pfp"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="my-id-image"
        />
        <h1 id="username_main" class="my-id-text2 notselectable">John Doe</h1>
      </div>
    </div>
  </div>
  <div class="my-id-reset-password-wrapper notselectable">
    <span class="my-id-pointer4 notselectable">PASSWORD</span>
    <a
      routerLink="/reset-password"
      onclick="this.classList.toggle('submit--loading')"
      class="my-id-reset-password button"
    >
      <span class="my-id-text3">Reset Password</span>
    </a>
  </div>
  <div class="my-id-id-removal-wrapper notselectable">
    <span class="my-id-pointer5 notselectable">ID REMOVAL</span>
    <span class="my-id-notice notselectable">
      When you choose to delete your ID, it entails the removal of all data
      associated with your account, including information stored in Wulfco
      Storage. It&apos;s important to note that deleting your ID results in the
      loss of all data associated with apps that utilize Wulfco Storage.
    </span>
    <button id="delete_data" type="button" class="my-id-delete-id button">
      <span class="my-id-text4">Delete my Data</span>
    </button>
  </div>
</div>
