<div class="change-password-container">
  <div class="change-password-container1">
    <div class="change-password-container2">
      <div class="change-password-container3">
        <h1 class="change-password-text notselectable">Change your Password</h1>
        <span class="change-password-text1 notselectable">
          Forgot your password? Need to change it? Well this is thee place for
          it!
        </span>
        <div class="change-password-container4">
          <span class="change-password-text2 notselectable">New Password</span>
          <input
            type="password"
            id="password"
            required="true"
            placeholder="••••••••••••••••••••••••"
            autocomplete="new-password"
            class="change-password-textinput input"
          />
        </div>
        <button
          id="confirm"
          type="button"
          class="change-password-button button"
        >
          <svg viewBox="0 0 1024 1024" class="change-password-icon">
            <path
              d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
            ></path>
          </svg>
          <span class="change-password-text3">Confirm</span>
        </button>
      </div>
    </div>
  </div>
</div>
