<div class="add-card-container">
  <h1 class="add-card-text notselectable">Add a new payment method</h1>
  <div class="add-card-container1">
    <span class="add-card-text1 notselectable">CARD NUMBER</span>
    <input
      type="text"
      id="card_number"
      required="true"
      autofocus="true"
      placeholder="4242 4242 4242 4242"
      autocomplete="cc-number"
      class="add-card-textinput input"
    />
  </div>
  <div class="add-card-container2">
    <div class="add-card-container3">
      <span class="add-card-text2 notselectable">EXPIRATION DATE</span>
      <input
        type="text"
        id="exp_date"
        pattern="\d&#123;2&#125;/\d&#123;4&#125;"
        required="true"
        autofocus="true"
        placeholder="MM/YYYY"
        autocomplete="cc-exp"
        class="add-card-textinput1 input"
      />
    </div>
    <div class="add-card-container4">
      <span class="add-card-text3 notselectable">CSC</span>
      <input
        type="text"
        id="csc"
        required="true"
        autofocus="true"
        placeholder="123"
        autocomplete="cc-csc"
        class="add-card-textinput2 input"
      />
    </div>
  </div>
  <div class="add-card-container5">
    <button id="cancel" type="button" class="add-card-button button">
      <svg viewBox="0 0 1024 1024" class="add-card-icon">
        <path
          d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="add-card-text4">Cancel</span>
    </button>
    <button id="confirm" type="button" class="add-card-button1 button">
      <svg viewBox="0 0 1024 1024" class="add-card-icon2">
        <path
          d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
        ></path>
      </svg>
      <span class="add-card-text5">Continue</span>
    </button>
  </div>
  <div class="add-card-container6">
    <span class="add-card-text6 notselectable">NAME ON THE CARD</span>
    <input
      type="text"
      id="name"
      required="true"
      autofocus="true"
      placeholder="John Doe"
      autocomplete="cc-name"
      class="add-card-textinput3 input"
    />
  </div>
</div>
