.add--friend-content {
  width: 1193px;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 4%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.add--friend-text {
  color: rgb(216, 215, 215);
  margin-top: 3%;
  margin-left: 3%;
}
.add--friend-text01 {
  color: rgb(185, 187, 190);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.add--friend-container {
  width: 786px;
  display: flex;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.add--friend-text04 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.add--friend-container1 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.add--friend-textinput {
  color: #ffffff;
  width: 50%;
  align-self: flex-start;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.add--friend-add {
  color: #ffffff;
  width: 117px;
  display: flex;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #0069FF;
}
.add--friend-add:hover {
  background-color: #1d74f9;
}
.add--friend-add:active {
  background-color: #0559da;
}
.add--friend-text05 {
  align-self: center;
}
.add--friend-container2 {
  width: 90%;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.add--friend-text06 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.add--friend-sent-invites {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.add--friend-text07 {
  color: rgb(185, 187, 190);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 3%;
}
.add--friend-container3 {
  width: 90%;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.add--friend-text10 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.add--friend-received-invites {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}