.connected-apps-content {
  width: 1193px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 4%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.connected-apps-text {
  color: #d8d7d7;
  margin-top: 3%;
  margin-left: 3%;
}
.connected-apps-container {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: flex-start;
  margin-left: 3%;
  margin-right: 150%;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 1%;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.connected-apps-container1 {
  width: 1032px;
  display: flex;
  align-self: flex-start;
  margin-top: 3%;
  align-items: center;
  margin-left: 2.5%;
  flex-direction: column;
  justify-content: flex-start;
}
.connected-apps-text1 {
  color: rgb(216, 215, 215);
  font-size: 1.5em;
  align-self: flex-start;
}
.connected-apps-text2 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
}
.connected-apps-link {
  color: #307fec;
  align-self: flex-start;
  transition: 0.3s;
}
.connected-apps-link:hover {
  color: #63a4fb;
}
.connected-apps-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 2%;
  align-items: center;
  padding-left: 1%;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: flex-start;
}
.connected-apps-link01 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link01:hover {
  background-color: #353535;
}
.connected-apps-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.connected-apps-link02 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link02:hover {
  background-color: #353535;
}
.connected-apps-image01 {
  width: 56px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.connected-apps-link03 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link03:hover {
  background-color: #353535;
}
.connected-apps-image02 {
  width: 56px;
  height: 100%;
  object-fit: cover;
}
.connected-apps-link04 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link04:hover {
  background-color: #353535;
}
.connected-apps-image03 {
  width: 56px;
  height: 100%;
  object-fit: cover;
}
.connected-apps-link05 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link05:hover {
  background-color: #353535;
}
.connected-apps-image04 {
  width: 64px;
  height: 64px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-link06 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link06:hover {
  background-color: #353535;
}
.connected-apps-image05 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-link07 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link07:hover {
  background-color: #353535;
}
.connected-apps-image06 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-link08 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link08:hover {
  background-color: #353535;
}
.connected-apps-image07 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-link09 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link09:hover {
  background-color: #353535;
}
.connected-apps-image08 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-link10 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.connected-apps-link10:hover {
  background-color: #353535;
}
.connected-apps-image09 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.connected-apps-container3 {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  align-items: flex-start;
  margin-left: 3%;
  margin-right: 150%;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.connected-apps-container4 {
  width: 892px;
  display: flex;
  align-self: flex-start;
  margin-top: 3%;
  align-items: center;
  margin-left: 2.5%;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.connected-apps-text3 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.connected-apps-text4 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
}
.connected-apps-save {
  color: rgb(255, 255, 255);
  width: 413px;
  height: auto;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 2.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 3%;
  text-decoration: none;
  background-color: rgb(0, 105, 255);
}
.connected-apps-save:hover {
  background-color: #1d74f9;
}
