.my-id-content {
  width: 1193px;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 4%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.my-id-text {
  color: rgb(216, 215, 215);
  margin-top: 3%;
  margin-left: 3%;
}
.my-id-user-profile {
  width: 72%;
  display: flex;
  position: relative;
  margin-top: 2%;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.my-id-background {
  width: 100%;
  height: 118px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 14px;
  margin-bottom: -2%;
  flex-direction: column;
  justify-content: center;
  background-color: #1a63b9;
}
.my-id-content1 {
  width: 100%;
  height: 558px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-maincolors-containerincontainerbg);
}
.my-id-wrapper {
  width: 794px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 10%;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-maincolors-containercolor);
}
.my-id-username-wrapper {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
}
.my-id-pointer {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-id-current-username {
  color: white;
  width: 100%;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 2%;
  font-weight: 500;
}
.my-id-edit {
  color: #ffffff;
  width: auto;
  display: flex;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #0069FF;
}
.my-id-edit:hover {
  background-color: #1d74f9;
}
.my-id-edit:active {
  background-color: #0559da;
}
.my-id-text01 {
  align-self: center;
  text-align: center;
}
.my-id-username-wrapper1 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
}
.my-id-pointer1 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-id-container2 {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: flex-start;
  flex-direction: row;
}
.my-id-current-username1 {
  color: white;
  width: auto;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.my-id-current-discriminator {
  color: var(--dl-color-maincolors-textcolor2);
  width: auto;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.my-id-edit1 {
  color: #ffffff;
  width: auto;
  display: flex;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #0069FF;
}
.my-id-edit1:hover {
  background-color: #1d74f9;
}
.my-id-edit1:active {
  background-color: #0559da;
}
.my-id-text02 {
  align-self: center;
  text-align: center;
}
.my-id-email-wrapper {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
}
.my-id-pointer2 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-id-current-email {
  color: white;
  width: 100%;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 2%;
  font-weight: 500;
}
.my-id-edit2 {
  color: #ffffff;
  width: auto;
  display: flex;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #0069FF;
}
.my-id-edit2:hover {
  background-color: #1d74f9;
}
.my-id-edit2:active {
  background-color: #0559da;
}
.my-id-text03 {
  align-self: center;
  text-align: center;
}
.my-id-birthday-wrapper {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 4%;
  align-items: flex-start;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  flex-direction: column;
}
.my-id-pointer3 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-id-current-birthday {
  color: white;
  width: 100%;
  font-size: 1.4em;
  align-self: flex-start;
  font-style: normal;
  margin-top: 2%;
  font-weight: 500;
}
.my-id-verify-age {
  color: #ffffff;
  width: 173px;
  display: flex;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #0069FF;
}
.my-id-verify-age:hover {
  background-color: #1d74f9;
}
.my-id-verify-age:active {
  background-color: #0559da;
}
.my-id-text04 {
  align-self: center;
  text-align: center;
}
.my-id-edit3 {
  color: #ffffff;
  width: auto;
  display: flex;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #0069FF;
}
.my-id-edit3:hover {
  background-color: #1d74f9;
}
.my-id-edit3:active {
  background-color: #0559da;
}
.my-id-text05 {
  align-self: center;
  text-align: center;
}
.my-id-info {
  top: 62px;
  left: 35px;
  width: 787px;
  height: 136px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.my-id-info1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.my-id-image {
  width: 136px;
  height: 136px;
  object-fit: cover;
  border-color: var(--dl-color-maincolors-containerincontainerbg);
  border-width: 10px;
  border-radius: var(--dl-radius-radius-round);
}
.my-id-text06 {
  color: white;
  align-self: center;
  margin-top: 4%;
  margin-left: 3%;
}
.my-id-text07 {
  color: var(--dl-color-maincolors-textcolor2);
  align-self: center;
  margin-top: 4%;
}
.my-id-reset-password-wrapper {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.my-id-pointer4 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-reset-password {
  color: #ffffff;
  width: autopx;
  display: flex;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-color: var(--dl-color-success-500);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}
.my-id-reset-password:hover {
  background-color: var(--dl-color-success-500);
}
.my-id-i-removal-wrapper {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: flex-start;
  padding-left: 3%;
  margin-bottom: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.my-id-pointer5 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.my-id-notice {
  color: rgb(135, 135, 135);
  margin-top: 1%;
}
.my-id-delete-id {
  color: #ffffff;
  width: auto;
  display: flex;
  align-self: flex-start;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  border-color: var(--dl-color-danger-500);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.my-id-delete-id:hover {
  background-color: var(--dl-color-danger-500);
}
.my-id-delete-id:active {
  border-color: var(--dl-color-danger-300);
  background-color: var(--dl-color-danger-300);
}
