<div class="home-container">
  <div class="home-container01">
    <div class="home-container02">
      <a routerLink="/" class="home-navlink button">ABOUT</a>
      <div class="home-container03"></div>
    </div>
    <div class="home-container04">
      <a routerLink="/login" class="home-navlink1 button">LOGIN</a>
      <div class="home-container05"></div>
    </div>
    <div class="home-container06">
      <a
        href="https://developers.wulfco.xyz"
        target="_blank"
        rel="noreferrer noopener"
        class="home-link button"
      >
        DEVS
      </a>
      <div class="home-container07"></div>
    </div>
    <div class="home-container08">
      <a routerLink="/coming-soon" class="home-navlink2 button">FAQ</a>
      <div class="home-container09"></div>
    </div>
  </div>
  <div class="home-container10">
    <h1 class="home-text">
      <span class="home-text1">
        The last account, profile, and digital ID you'll ever need.
      </span>
    </h1>
    <h1 class="home-text3">
        <span>Experience unparalleled convenience and security with Wulfco ID, your all-in-one platform for seamless access to a plethora of digital services.</span>
        <br>
        <span>Say goodbye to managing multiple accounts and passwords – Wulfco ID is the last digital identity you'll ever need.</span>
    </h1>
    <a routerLink="/create-id" class="home-navlink3 button">
      <svg viewBox="0 0 1024 1024" class="home-icon">
        <path
          d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
        ></path>
      </svg>
      <span class="home-text4">Create an ID</span>
    </a>
    <div class="home-links">
      <a href="https://id.wulfco.xyz/privacy-policy" class="home-link1 button">
        Privacy Policy
      </a>
      <a
        href="https://id.wulfco.xyz/terms-of-service"
        class="home-link2 button"
      >
        Terms of Service
      </a>
    </div>
  </div>
  <button class="home-button button">↓</button>
</div>
