<div class="subscriptions-content">
  <h1 class="subscriptions-text notselectable">
    <span>Your Subscriptions</span>
    <br />
  </h1>
  <span class="subscriptions-text03 notselectable">
    <span>
      These are your current subscriptions. You can update any subscription at
      any time.
    </span>
    <br />
  </span>
  <div class="subscriptions-container">
    <app-subscription></app-subscription>
  </div>
  <h1 class="subscriptions-text06 notselectable">
    <span>Subscription Credit</span>
    <br />
  </h1>
  <span class="subscriptions-text09 notselectable">
    <span>
      When you redeem a gift while you have a running subscription, or accept a
      gift that differs from your current subscriptions, it will appear here as
      credit.
    </span>
    <br />
  </span>
  <h1 class="subscriptions-text12 notselectable">
    <span>You have no unused credits</span>
    <br />
  </h1>
</div>
