<div class="add-afriend-content" [ngClass]="rootClassName">
  <h1 class="add-afriend-text notselectable">Add a Friend</h1>
  <span class="add-afriend-text01 notselectable">
    <span>Add a friend or accept pending invites</span>
    <br />
  </span>
  <div class="add-afriend-container">
    <span class="add-afriend-text04 notselectable">ADD FRIEND</span>
    <div class="add-afriend-container1">
      <input
        type="email"
        id="email"
        name="email"
        required="true"
        maxlength="37"
        placeholder="W@john_doe"
        class="add-afriend-textinput input"
      />
      <button id="add_friend" type="button" class="add-afriend-button button">
        <svg viewBox="0 0 1024 1024" class="add-afriend-icon">
          <path
            d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
          ></path>
        </svg>
        <span class="add-afriend-text05">Add Friend</span>
      </button>
    </div>
  </div>
  <div class="add-afriend-container2">
    <span class="add-afriend-text06 notselectable">SENT INVITES</span>
    <div id="sent_invites" class="add-afriend-sent-invites">
      <span class="add-afriend-text07 notselectable">
        <span>You have no outbound requests :(</span>
        <br />
      </span>
    </div>
  </div>
  <div class="add-afriend-container3">
    <span class="add-afriend-text10 notselectable">RECEIVED INVITES</span>
    <div id="received_invites" class="add-afriend-received-invites">
      <friend-request></friend-request>
    </div>
  </div>
</div>
