.authorized-app-container {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 1%;
  align-items: flex-start;
  border-radius: 8px;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.authorized-app-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #121212;
  border-width: 4px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
}

.authorized-app-button {
  top: 16px;
  color: #ffffff;
  right: 14px;
  width: 152px;
  position: absolute;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-color: #C93042;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.authorized-app-button:hover {
  background-color: #C93042;
}
.authorized-app-button1 {
  top: 16px;
  color: #ffffff;
  right: 179px;
  width: 152px;
  position: absolute;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-color: #3a30c9;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.authorized-app-button1:hover {
  background-color: #3a30c9;
}
.authorized-app-container2 {
  width: 50%;
  height: auto;
  display: flex;
  margin-top: 1.5%;
  align-items: flex-start;
  margin-left: 1.5%;
  flex-direction: row;
  justify-content: flex-start;
}
.authorized-app-image {
  width: 65px;
  height: 65px;
  align-self: center;
  object-fit: cover;
  margin-left: 2.5%;
  border-radius: var(--dl-radius-radius-round);
}
.authorized-app-text {
  color: #ffffff;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 2%;
}
.authorized-app-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1.5%;
  align-items: flex-start;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  flex-direction: column;
}
.authorized-app-text1 {
  color: #B9BBBE;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 1.5%;
}
.authorized-app-text2 {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0.5%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 1.5%;
}
.authorized-app-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  flex-direction: column;
}
.authorized-app-text3 {
  color: #B9BBBE;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 1.5%;
}

