.connection-button-container {
  display: flex;
  position: relative;
  margin-left: 1.5%;
}
.connection-button-link {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-decoration: none;
  background-color: #202020;
}
.connection-button-link:hover {
  background-color: #353535;
}
.connection-button-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
