:host { 
  display: contents; 
}
.setup-totp-container {
  width: 683px;
  height: 652px;
  display: flex;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  background-color: #1c1c1c;
}
.setup-totp-container01 {
  width: 100%;
  height: 651px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  padding-bottom: 5%;
}
.setup-totp-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  align-self: flex-start;
}
.setup-totp-text01 {
  align-self: flex-start;
}
.setup-totp-container02 {
  width: 100%;
  height: 137px;
  display: flex;
  margin-top: 5%;
  align-items: flex-start;
}
.setup-totp-image {
  width: 148px;
  height: 148px;
  align-self: center;
  object-fit: cover;
}
.setup-totp-container03 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: flex-start;
}
.setup-totp-text02 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 1em;
  align-self: flex-start;
}
.setup-totp-text03 {
  font-size: 16px;
  align-self: flex-start;
  margin-top: 1%;
}
.setup-totp-container04 {
  width: 100%;
  height: 201px;
  display: flex;
  margin-top: 5%;
  align-items: flex-start;
}
.setup-totp-image1 {
  width: 148px;
  height: 148px;
  align-self: center;
  object-fit: cover;
  border-radius: 14px;
}
.setup-totp-container05 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
}
.setup-totp-container06 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.setup-totp-text04 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 1em;
  align-self: flex-start;
}
.setup-totp-text05 {
  font-size: 16px;
  align-self: flex-start;
  margin-top: 1%;
}
.setup-totp-container07 {
  display: flex;
  align-self: flex-start;
  margin-top: 5%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.setup-totp-text06 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 1em;
  align-self: flex-start;
}
.setup-totp-text07 {
  color: var(--dl-color-maincolors-textcolor2);
  font-size: 18px;
  align-self: flex-start;
  margin-top: 1%;
}
.setup-totp-container08 {
  width: 100%;
  height: 137px;
  display: flex;
  margin-top: 5%;
  align-items: flex-start;
}
.setup-totp-container09 {
  width: 148px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setup-totp-image2 {
  width: 120px;
  height: 103px;
  align-self: center;
  object-fit: cover;
}
.setup-totp-container10 {
  width: 400px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
}
.setup-totp-container11 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.setup-totp-text08 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 1em;
  align-self: flex-start;
}
.setup-totp-text09 {
  font-size: 16px;
  align-self: flex-start;
  margin-top: 1%;
}
.setup-totp-container12 {
  width: 100%;
  height: 42px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.setup-totp-textinput {
  color: #ffffff;
  width: 60%;
  height: 37px;
  align-self: flex-start;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #121212;
}
.setup-totp-button {
  color: #ffffff;
  width: 150px;
  height: 37px;
  display: flex;
  position: relative;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.setup-totp-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.setup-totp-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.setup-totp-button:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.setup-totp-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 22px;
  height: 22px;
}
.setup-totp-text10 {
  top: 5px;
  left: 57px;
  color: var(--dl-color-maincolors-headingcolor);
  margin: auto;
  position: absolute;
}
.setup-totp-button1 {
  top: 19px;
  color: #73767D;
  right: 20px;
  padding: 0px;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 300;
  border-width: 0px;
  background-color: transparent;
}
.setup-totp-button1:hover {
  color: #ffffff;
}
@media(max-width: 1200px) {
  .setup-totp-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .setup-totp-text02 {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .setup-totp-text04 {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .setup-totp-text06 {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .setup-totp-text08 {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
}
@media(max-width: 479px) {
  .setup-totp-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
}
