<div class="privacy-content">
  <h1 class="privacy-text notselectable">Privacy</h1>
  <div class="privacy-container notselectable">
    <span class="privacy-text01 notselectable">HOW WE USE YOUR DATA</span>
    <div class="privacy-container01">
      <div class="privacy-container02">
        <h1 class="privacy-text02 notselectable">
          Use data to customize your Wulfco experience
        </h1>
        <span class="privacy-text03">
          <span>
            We use data to make your Wulfco experience more relevant and
            enjoyable. We do this by creating content, offering suggestions, and
            improving features that match your preferences and actions. This
            personalization makes our platform more engaging and user-friendly.
            You can trust that we protect your privacy and personal information
            according to our
          </span>
          <a
            href="https://id.wulfco.xyz/privacy-policy"
            target="_blank"
            rel="noreferrer noopener"
            class="privacy-link"
          >Privacy Policy</a>.
        </span>
      </div>
        <div class="privacy-checkbox">
            <app-gooey-checkbox></app-gooey-checkbox>
        </div>
    </div>
    <div class="privacy-container03">
      <div class="privacy-container04">
        <h1 class="privacy-text06 notselectable">
          Use data to improve our services
        </h1>
        <span class="privacy-text07 notselectable">
          <span>
            Our services benefit from data collection, which allows us to
            analyze how you use our platform anonymously through tools like
            Google Analytics and Sentry. This data helps us to improve our
            features, fix any problems, and tailor our platform to your needs.
            Your feedback and usage patterns are essential for enhancing your
            experience. We value your privacy and protect your personal
            information according to our
          </span>
          <a
            href="https://id.wulfco.xyz/privacy-policy"
            target="_blank"
            rel="noreferrer noopener"
            class="privacy-link1"
          >Privacy Policy</a>.
        </span>
      </div>
        <div class="privacy-checkbox">
            <app-gooey-checkbox></app-gooey-checkbox>
        </div>
    </div>
      <div class="privacy-container03">
          <div class="privacy-container04">
              <h1 class="privacy-text06 notselectable">
                  Track ID Changes
              </h1>
              <span class="privacy-text07 notselectable">
          <span>
            See a history of changes to your ID. This helps you spot suspicious activity if someone tries to hijack your account. Encrypted & private so that only you can access them, Wulfco cannot access these logs. 14-day delay to disable.
          </span>
        </span>
          </div>
          <div class="privacy-checkbox">
              <app-gooey-checkbox></app-gooey-checkbox>
          </div>
      </div>
    <div class="privacy-container05">
      <div class="privacy-container06">
        <h1 class="privacy-text09 notselectable">
          Use data to make our services work
        </h1>
        <span class="privacy-text10 notselectable">
          <span>
            Our services depend on data to function properly. We use data to
            check the system&apos;s health, improve security, and fix technical
            problems quickly. Your data helps us provide a safe and smooth
            experience, and we treat it carefully according to our
          </span>
          <a
            href="https://id.wulfco.xyz/privacy-policy"
            target="_blank"
            rel="noreferrer noopener"
            class="privacy-link2"
          >Privacy Policy</a>.
        </span>
      </div>
    </div>
  </div>
  <div class="privacy-container07 notselectable">
    <span class="privacy-text13 notselectable">MARKETING</span>
    <div class="privacy-container08">
      <div class="privacy-container09">
        <h1 class="privacy-text14 notselectable">
          <span>Keep Up with the Latest News from Wulfco</span>
          <br />
        </h1>
        <span class="privacy-text17">
          <span>
            This option is off by default. But if you love being the first to
            hear about Wulfco&apos;s amazing new products and features, you can
            turn it on. Get updates as soon as we release a new product or add a
            new feature to our existing ones.
          </span>
          <br />
        </span>
      </div>
        <div class="privacy-checkbox">
            <app-gooey-checkbox></app-gooey-checkbox>
        </div>
    </div>
    <div class="privacy-container10">
      <div class="privacy-container11">
        <h1 class="privacy-text20 notselectable">
          Allow third-party services to use my email for marketing
        </h1>
        <span class="privacy-text21 notselectable">
          <span>
            This option allows third-party services that are linked to your ID
            and have asked for your email access to use it for marketing
            purposes. We respect your privacy and will not share your email
            without your permission. If you notice any violation of this policy,
            please contact our support team at
          </span>
          <a href="mailto:help@wulfco.xyz?subject=Marketing email abuse" class="privacy-link3">help&#64;wulfco.xyz</a><span> and we will resolve the issue quickly.</span>
          <br />
        </span>
      </div>
        <div class="privacy-checkbox">
            <app-gooey-checkbox></app-gooey-checkbox>
        </div>
    </div>
  </div>
  <div class="privacy-container12 notselectable">
    <span class="privacy-text25 notselectable">MY DATA</span>
    <span class="privacy-text26 notselectable">
      <span>
        You can download the information we have stored about you from our
        database. However, this package will not include any data from Wulfco
        Storage. If you want to get data from Wulfco Storage, you have to
        download it separately from each service that uses it.
      </span>
      <br />
    </span>
    <div class="privacy-container13">
      <button
        id="request_data"
        type="button"
        onclick="this.classList.toggle('submit--loading')"
        class="privacy-button button"
      >
        <span class="privacy-text29">Download my Data</span>
      </button>
    </div>
  </div>
</div>
