<div class="authorized-apps-content">
  <h1 class="authorized-apps-text notselectable">Authorized Apps</h1>
  <div class="authorized-apps-container">
    <span class="authorized-apps-text1 notselectable">
      APPLICATIONS &amp; CONNECTIONS
    </span>
    <span class="authorized-apps-text2 notselectable">
      Here&apos;s all the apps that are doing cool stuff behind the scenes to
      make your experience better, if anything gets too chilly you can remove
      them at any time.
    </span>
  </div>
  <authorized-app
    rootClassName="authorized-app-root-class-name1"
  ></authorized-app>
</div>
