<div class="authorize-container">
  <div class="authorize-container1">
    <h1 id="heading" class="authorize-text notselectable">
      Wulfco Developers is Requesting Access
    </h1>
    <div class="authorize-container2"></div>
    <div class="authorize-container3">
      <div class="authorize-container4">
        <img
          id="app_avatar"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="authorize-image"
        />
        <span id="app_name" class="authorize-text1">Wulfco Developers</span>
      </div>
      <img
        alt="image"
        src="https://authorize.roblox.com/assets/line.svg"
        class="authorize-image1"
      />
      <div class="authorize-container5">
        <img
          id="avatar"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="authorize-image2"
        />
        <span id="user_name" class="authorize-text2">VikkiVuk</span>
      </div>
    </div>
    <oauth2permission-box></oauth2permission-box>
    <div class="authorize-container6"></div>
    <span class="authorize-text3">
      By clicking &quot;Confirm and Give Access&quot;, you acknowledge that you
      have read and agree to Wulfco Developers&apos; Privacy Policy and Terms of
      Service. You can view and remove access from Authorized Apps in your ID.
    </span>
    <div class="authorize-container7">
      <button id="cancel" type="button" class="authorize-button button">
        <svg viewBox="0 0 1024 1024" class="authorize-icon">
          <path
            d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="authorize-text4">Cancel</span>
      </button>
      <button id="confirm" type="button" class="authorize-button1 button">
        <svg viewBox="0 0 1024 1024" class="authorize-icon2">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="authorize-text5">Confirm and Give Access</span>
      </button>
    </div>
  </div>
</div>
