<div class="loading-body" *ngIf="loading">
  <app-loading-strike></app-loading-strike>
</div>
<div *ngIf="!loading" class="account-settings-container" [style.overflow]="loading ? 'hidden' : 'auto'">
  <a routerLink="/summary" class="account-settings-summary button">
    &lt;- Summary
  </a>
  <div class="account-settings-main">
    <div class="account-settings-sidebar">
      <div class="account-settings-user-settings">
        <span class="account-settings-text notselectable">USER SETTINGS</span>
        <button [ngClass]="[selectedPage === 'id' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('id')">
          <span>My ID</span>
        </button>
        <button [ngClass]="[selectedPage === 'profile' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('profile')">
          <span>Profile</span>
        </button>
        <button [ngClass]="[selectedPage === 'security' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('security')">
          <span>Security</span>
        </button>
        <button [ngClass]="[selectedPage === 'privacy' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('privacy')">
          <span>Privacy & Safety</span>
        </button>
        <button [ngClass]="[selectedPage === 'authorized-apps' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('authorized-apps')">
          <span>Authorized Apps</span>
        </button>
        <button [ngClass]="[selectedPage === 'devices' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('devices')">
          <span>Devices</span>
        </button>
        <button [ngClass]="[selectedPage === 'connections' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('connections')">
          <span>Connections</span>
        </button>
      </div>
      <div class="account-settings-friends">
        <div class="account-settings-container1"></div>
        <span class="account-settings-text07 notselectable">FRIENDS</span>
        <button [ngClass]="[selectedPage === 'friends' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('friends')">
          <span>My Friends</span>
        </button>
        <button [ngClass]="[selectedPage === 'add-friend' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('add-friend')">
          <span>Add a Friend</span>
        </button>
        <button [ngClass]="[selectedPage === 'blocked' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('blocked')">
          <span>Blocked</span>
        </button>
      </div>
      <div class="account-settings-billing">
        <div class="account-settings-container2"></div>
        <span class="account-settings-text11 notselectable">BILLING</span>
        <a routerLink="/coming-soon" class="account-settings-navlink button">
          <svg viewBox="0 0 1024 1024" class="account-settings-icon">
            <path d="M384 0l-384 512h384l-256 512 896-640h-512l384-384z"></path>
          </svg>
          <span class="account-settings-text12">Hyper</span>
        </a>
        <button [ngClass]="[selectedPage === 'subscriptions' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('subscriptions')">
          <span>Subscriptions</span>
        </button>
        <button [ngClass]="[selectedPage === 'gifts' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('gifts')">
          <span>Gifts</span>
        </button>
        <button [ngClass]="[selectedPage === 'billing' ? 'sidebar-selected-button' : 'sidebar-button', 'button']" (click)="selectPage('billing')">
          <span>Billing</span>
        </button>
      </div>
      <div class="account-settings-undefined">
        <div class="account-settings-container3"></div>
        <button class="sidebar-button button">
          <span>What&apos;s New</span>
        </button>
        <a
          href="https://developers.wulfco.xyz"
          target="_blank"
          rel="noreferrer noopener"
          class="account-settings-link button"
        >
          <span>Developers</span>
        </a>
        <div class="account-settings-container4"></div>
      </div>
      <div class="account-settings-undefined1">
        <button id="logout" class="sidebar-button button">
          <span>Logout</span>
        </button>
      </div>
    </div>
    <button ngHcaptchaInvisibleButton></button>
    <my-id *ngIf="selectedPage === 'id'" [userdata]="userData" [getUserData]="getUserData"></my-id>
    <app-profile *ngIf="selectedPage === 'profile'" [userdata]="userData" [getUserData]="getUserData"></app-profile>
    <app-security *ngIf="selectedPage === 'security'"></app-security>
    <app-privacy *ngIf="selectedPage === 'privacy'"></app-privacy>
    <authorized-apps *ngIf="selectedPage === 'authorized-apps'"></authorized-apps>
    <app-devices *ngIf="selectedPage === 'devices'"></app-devices>
    <connected-apps *ngIf="selectedPage === 'connections'"></connected-apps>
    <my-friends *ngIf="selectedPage === 'friends'"></my-friends>
    <add-friend *ngIf="selectedPage === 'add-friend'"></add-friend>
    <app-subscriptions *ngIf="selectedPage === 'subscriptions'"></app-subscriptions>
    <app-gifts *ngIf="selectedPage === 'gifts'"></app-gifts>
    <app-billing *ngIf="selectedPage === 'billing'"></app-billing>
    <blocked *ngIf="selectedPage === 'blocked'"></blocked>
  </div>
  <div class="account-settings-screen-size-warning">
    <h1 class="account-settings-text19 notselectable">
      <span class="account-settings-text20">Sorry but...</span>
    </h1>
    <h1 class="account-settings-text21">
      <span>
        We apologize for any inconvenience, but at the moment, our support is
        limited to desktop or screens with desktop-sized dimensions.
      </span>
      <br />
      <br />
      <span>
        This limitation is in place to address overflow and rendering concerns.
        We are actively considering its removal in the future
      </span>
    </h1>
    <a routerLink="/summary" class="account-settings-navlink1 button">
      <svg viewBox="0 0 1024 1024" class="account-settings-icon2">
        <path d="M512 128l342 256v512h-214v-298h-256v298h-214v-512z"></path>
      </svg>
      <span class="account-settings-text27">Go Home</span>
    </a>
  </div>
</div>
