<div class="oauth2permission-box-container">
  <h1 class="oauth2permission-box-text notselectable">Your Personal Profile</h1>
  <div class="oauth2permission-box-container1">
    <div class="oauth2permission-box-container2">
      <h1 class="oauth2permission-box-text1">Permission</h1>
      <h1 class="oauth2permission-box-text2">Description</h1>
      <h1 class="oauth2permission-box-text3">Risk Level</h1>
    </div>
    <permission-category
      name="Read User ID"
      risklevel="LOW"
      description="View your Wulfco WUID to see who you are"
      rootClassName="permission-category-root-class-name"
    ></permission-category>
    <permission-category
      name="Read User Profile"
      risklevel="LOW"
      description="View your username, display name, and user avatar."
      rootClassName="permission-category-root-class-name1"
    ></permission-category>
  </div>
</div>
