<div class="my-friends-content">
  <h1 class="my-friends-text notselectable">My Friends</h1>
  <span class="my-friends-text1 notselectable">
    <span>All of your friends at one place</span>
    <br />
  </span>
  <div class="my-friends-container">
    <span class="my-friends-text4 notselectable">ALL FRIENDS</span>
    <div class="my-friends-friends">
      <span class="my-friends-text5 notselectable">
        <span>You have no friends :(</span>
        <br />
      </span>
    </div>
  </div>
</div>
