:host { 
  display: contents; 
}
.blocked-content {
  width: 1193px;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 4%;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.blocked-text {
  color: rgb(216, 215, 215);
  margin-top: 3%;
  margin-left: 3%;
}
.blocked-text01 {
  color: rgb(185, 187, 190);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.blocked-container {
  width: 786px;
  display: flex;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.blocked-text04 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.blocked-container1 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 2%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.blocked-textinput {
  color: #ffffff;
  width: 50%;
  height: 37px;
  align-self: flex-start;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-maincolors-inputcolor);
}
.blocked-button {
  color: #ffffff;
  width: 20%;
  height: 37px;
  display: flex;
  position: relative;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 3%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-confirmationbuttons-buttoncolor);
}
.blocked-button:hover {
  background-color: var(--dl-color-confirmationbuttons-buttonhover);
}
.blocked-button:active {
  background-color: var(--dl-color-confirmationbuttons-buttonactive);
}
.blocked-button:disabled {
  color: transparent;
  background-color: var(--dl-color-confirmationbuttons-buttondisabled);
}
.blocked-icon {
  fill: var(--dl-color-maincolors-headingcolor);
  width: 24px;
  height: 24px;
}
.blocked-text05 {
  left: 35px;
  color: var(--dl-color-maincolors-headingcolor);
  right: 1rem;
  position: absolute;
  line-height: 1.15;
}
.blocked-container2 {
  width: 90%;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.blocked-text06 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.blocked-sent-invites {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.blocked-text07 {
  color: rgb(185, 187, 190);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 3%;
}
.blocked-container3 {
  width: 90%;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: flex-start;
}
.blocked-text10 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.blocked-received-invites {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
@media(max-width: 479px) {
  .blocked-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
}
