<div class="blocked-content">
  <h1 class="blocked-text notselectable">Blocked</h1>
  <span class="blocked-text01 notselectable">
    <span>Block, unblock, or view all the people you've blocked</span>
    <br />
  </span>
  <div class="blocked-container">
    <span class="blocked-text04 notselectable">BLOCK</span>
    <div class="blocked-container1">
      <input
        type="text"
        id="username"
        required="true"
        maxlength="37"
        placeholder="@john_doe"
        class="blocked-textinput input"
      />
      <button id="add_friend" type="button" class="blocked-button button">
        <svg viewBox="0 0 1024 1024" class="blocked-icon">
          <path
            d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
          ></path>
        </svg>
        <span class="blocked-text05">Block</span>
      </button>
    </div>
  </div>
  <div class="blocked-container2">
    <span class="blocked-text06 notselectable">ALREADY BLOCKED</span>
    <div id="sent_invites" class="blocked-sent-invites">
      <span class="blocked-text07 notselectable">
        <span>You have no blocked people! :)</span>
        <br />
      </span>
    </div>
  </div>
</div>
