.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.login-container01 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-container02 {
  width: 786px;
  height: 435px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #181818;
}
.login-form {
  width: 53%;
  height: 100%;
  position: relative;
  margin-left: 1%;
}
.login-text {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 7%;
  text-align: center;
  font-family: Roboto;
}
.login-container03 {
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: 8%;
  align-items: flex-start;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text01 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}
@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}
.login-container04 {
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.login-text02 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.login-button {
  top: 266px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 85%;
  height: 41px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 7%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.login-button:hover {
  background-color: #1d74f9;
}
.login-button:active {
  background-color: #0559da;
}
.login-button:disabled {
  background-color: #0055dc;
  opacity: 0.5;
  cursor: default;
}
.login-text03 {
  top: 7px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.login-navlink {
  top: 325px;
  left: 0px;
  color: #5598CC;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.login-navlink:hover {
  color: #7ab3e0;
}
.login-container05 {
  top: 362px;
  left: 0px;
  color: #737373;
  right: 0px;
  width: 90%;
  height: 1px;
  margin: auto;
  display: flex;
  opacity: 0.5;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #737373;
}
.login-container06 {
  left: 0px;
  right: 0px;
  width: 90%;
  bottom: 27px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.login-text04 {
  color: rgb(144, 144, 144);
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-navlink1 {
  color: #5598CC;
  align-self: center;
  transition: 0.3s;
  margin-left: 1%;
  text-decoration: none;
}
.login-navlink1:hover {
  color: #7ab3e0;
}
.login-container07 {
  flex: 0 0 auto;
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-image {
  width: 208px;
  height: 208px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.login-text06 {
  color: var(--dl-color-maincolors-headingcolor);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.login-text10 {
  margin-top: 3%;
  text-align: center;
}
.login-container08 {
  width: 786px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.login-container09 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 3%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text15 {
  color: rgb(216, 215, 215);
  font-size: 1.5em;
  align-self: flex-start;
  margin-left: 2.5%;
}
.login-text18 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 2.5%;
}
.login-container10 {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: center;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: flex-start;
}
.login-button1 {
  color: #FFFFFF;
  width: auto;
  height: 55px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 2.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #202020;
}
.login-button1:hover {
  background-color: #272727;
}
.login-button1:active {
  background-color: #1e1e1e;
}
.login-image1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.login-text21 {
  color: var(--dl-color-maincolors-headingcolor);
  width: auto;
  cursor: pointer;
  font-size: 1.2em;
  text-align: left;
  font-family: Roboto;
  margin-left: 15px;
}
.login-button2 {
  color: #FFFFFF;
  width: auto;
  height: 55px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 2.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #202020;
}
.login-button2:hover {
  background-color: #272727;
}
.login-button2:active {
  background-color: #1e1e1e;
}
.login-image2 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.login-text22 {
  color: var(--dl-color-maincolors-headingcolor);
  width: auto;
  cursor: pointer;
  font-size: 1.2em;
  text-align: left;
  font-family: Roboto;
  margin-left: 15px;
}
@media(max-width: 767px) {
  .login-container01 {
    width: 90%;
    position: static;
  }
  .login-container02 {
    width: 100%;
  }
  .login-container08 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .login-container01 {
    width: 100%;
    position: static;
  }
  .login-container02 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    height: 402px;
    position: static;
    align-items: center;
    justify-content: center;
  }
  .login-form {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  .login-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 6%;
  }
  .login-text03 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .login-navlink {
    top: -70px;
    left: -3px;
    width: 100%;
    margin: auto;
    position: absolute;
    text-align: center;
  }
  .login-container05 {
    position: static;
    margin-top: 7%;
  }
  .login-container06 {
    position: static;
    margin-top: 5%;
  }
  .login-container07 {
    top: 208px;
    right: 36px;
    opacity: 0;
    z-index: -5;
    position: absolute;
  }
  .login-container08 {
    width: 90%;
    flex-direction: column;
  }
  .login-container10 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .login-button1 {
    width: 209px;
  }
  .login-button2 {
    width: 209px;
    margin-top: 3%;
  }
}
