.enter-password-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 457px;
  bottom: 0px;
  height: 250px;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.enter-password-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  margin-top: 5%;
}
.enter-password-container1 {
  width: 422px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.enter-password-text1 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.enter-password-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.enter-password-container2 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 14px;
  justify-content: flex-end;
  background-color: #161616;
}
.enter-password-save {
  color: var(--dl-color-maincolors-headingcolor);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 400;
  border-width: 0px;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.enter-password-save:hover {
  color: #a8a8a8;
  background-color: transparent;
}
.enter-password-save1 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  margin-right: 5%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(0, 105, 255);
}
.enter-password-save1:hover {
  background-color: #1d74f9;
}
@media(max-width: 1200px) {
  .enter-password-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .enter-password-container2 {
    margin-top: 5%;
    border-width: 0px;
    border-radius: 14px;
    background-color: #161616;
  }
}
