.edit-username-background {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit-username-container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 457px;
  bottom: 0px;
  height: 357px;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 10px 10px #0c0c0c;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1c1c1c;
}
.edit-username-text {
  color: var(--dl-color-maincolors-headingcolor);
  font-size: 1.5em;
  margin-top: 5%;
}
.edit-username-text1 {
  font-size: 16px;
  margin-top: 2%;
}
.edit-username-container1 {
  width: 422px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.edit-username-text2 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.edit-username-container2 {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.edit-username-textinput {
  color: #ffffff;
  width: 65%;
  align-self: center;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.edit-username-textinput1 {
  color: #ffffff;
  width: 20%;
  align-self: center;
  font-family: Roboto;
  margin-left: 5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.edit-username-container3 {
  width: 422px;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.edit-username-text3 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.edit-username-textinput2 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.edit-username-container4 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 14px;
  justify-content: flex-end;
  background-color: #161616;
}
.edit-username-save {
  color: var(--dl-color-maincolors-headingcolor);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 400;
  border-width: 0px;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.edit-username-save:hover {
  color: #a8a8a8;
  background-color: transparent;
}
.edit-username-save1 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  margin-right: 5%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(0, 105, 255);
}
.edit-username-save1:hover {
  background-color: #1d74f9;
}
@media(max-width: 1200px) {
  .edit-username-container {
    height: 426px;
    opacity: 1;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
  .edit-username-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.8em;
    align-self: center;
    margin-top: 5%;
  }
  .edit-username-text1 {
    font-size: 20px;
    align-self: center;
    margin-top: 2%;
  }
  .edit-username-container4 {
    margin-top: 5%;
    border-width: 0px;
    border-radius: 14px;
    background-color: #161616;
  }
}
@media(max-width: 991px) {
  .edit-username-container {
    opacity: 1;
    z-index: 100;
  }
}
