.edit-username-background {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.setup-totp-container {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 683px;
    height: 652px;
    margin: auto;
    display: flex;
    z-index: 1;
    position: absolute;
    align-self: center;
    box-shadow: 0px 0px 10px 10px #0c0c0c;
    align-items: center;
    border-radius: 14px;
    flex-direction: column;
    background-color: #1c1c1c;
}
.setup-totp-container01 {
    width: 100%;
    height: 651px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    padding-bottom: 5%;
}
.setup-totp-text {
    color: var(--dl-color-maincolors-headingcolor);
    font-size: 1.5em;
    align-self: flex-start;
}
.setup-totp-text01 {
    align-self: flex-start;
}
.setup-totp-container02 {
    width: 100%;
    height: 137px;
    display: flex;
    margin-top: 5%;
    align-items: flex-start;
}
.setup-totp-image {
    width: 148px;
    height: 148px;
    align-self: center;
    object-fit: cover;
}
.setup-totp-container03 {
    display: flex;
    align-self: center;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    justify-content: flex-start;
}
.setup-totp-text02 {
    color: #aaaaaa;
    font-size: 1em;
    align-self: flex-start;
}
.setup-totp-text03 {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 1%;
}
.setup-totp-container04 {
    width: 100%;
    height: 201px;
    display: flex;
    margin-top: 5%;
    align-items: flex-start;
}
.setup-totp-image1 {
    width: 148px;
    height: 148px;
    align-self: center;
    object-fit: cover;
}
.setup-totp-container05 {
    display: flex;
    align-self: center;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}
.setup-totp-container06 {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.setup-totp-text04 {
    color: rgb(170, 170, 170);
    font-size: 1em;
    align-self: flex-start;
}
.setup-totp-text05 {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 1%;
}
.setup-totp-container07 {
    display: flex;
    align-self: flex-start;
    margin-top: 5%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.setup-totp-text06 {
    color: rgb(170, 170, 170);
    font-size: 1em;
    align-self: flex-start;
}
.setup-totp-text07 {
    color: var(--dl-color-maincolors-textcolor2);
    font-size: 18px;
    align-self: flex-start;
    margin-top: 1%;
}
.setup-totp-container08 {
    width: 100%;
    height: 137px;
    display: flex;
    margin-top: 5%;
    align-items: flex-start;
}
.setup-totp-container09 {
    width: 148px;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setup-totp-image2 {
    width: 120px;
    height: 103px;
    align-self: center;
    object-fit: cover;
}
.setup-totp-container10 {
    width: 400px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}
.setup-totp-container11 {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.setup-totp-text08 {
    color: rgb(170, 170, 170);
    font-size: 1em;
    align-self: flex-start;
}
.setup-totp-text09 {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 1%;
}
.setup-totp-container12 {
    width: 100%;
    height: 42px;
    display: flex;
    align-self: center;
    margin-top: 5%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.setup-totp-textinput {
    color: #ffffff;
    width: 90%;
    height: 100%;
    align-self: center;
    font-family: Roboto;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #4c4c4c;
}
.setup-totp-save {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-family: Roboto;
    font-weight: 500;
    margin-left: 5%;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgb(0, 105, 255);
}
.setup-totp-save:hover {
    background-color: #1d74f9;
}
@media(max-width: 1200px) {
    .setup-totp-text {
        color: var(--dl-color-maincolors-headingcolor);
        font-size: 1.8em;
        align-self: center;
        margin-top: 5%;
    }
    .setup-totp-text02 {
        color: var(--dl-color-maincolors-headingcolor);
        font-size: 1.8em;
        align-self: center;
        margin-top: 5%;
    }
    .setup-totp-text04 {
        color: var(--dl-color-maincolors-headingcolor);
        font-size: 1.8em;
        align-self: center;
        margin-top: 5%;
    }
    .setup-totp-text06 {
        color: var(--dl-color-maincolors-headingcolor);
        font-size: 1.8em;
        align-self: center;
        margin-top: 5%;
    }
    .setup-totp-text08 {
        color: var(--dl-color-maincolors-headingcolor);
        font-size: 1.8em;
        align-self: center;
        margin-top: 5%;
    }
}