<div class="registration-security-container">
  <h1 class="registration-security-text notselectable">
    Now, is your ID a personal or business account?
  </h1>
  <span class="registration-security-text01">
    Note: Once you select an account type, you cannot change it later.
  </span>
  <div class="registration-security-container1">
    <div class="registration-security-container2">
      <h1 class="registration-security-text02 notselectable">
        <span>Business 💼</span>
        <br />
      </h1>
        <div class="registration-security-container3">
            <h1 class="registration-security-text05 notselectable">
                <span>For businesses</span>
                <br />
            </h1>
        </div>
      <h1 class="registration-security-text08 notselectable">
        <span>Maximum Privacy</span>
        <br />
      </h1>
        <h1 class="registration-security-text11 notselectable">
            <span>Maximum Security</span>
            <br />
        </h1>
        <h1 class="registration-security-text14 notselectable">
            <span>Special Business Stuff</span>
            <br />
        </h1>
      <button
        type="button"
        class="registration-security-button button"
        id="business"
        (click)="selectBusiness()"
      >
        <svg id="business-icon" viewBox="0 0 1024 1024" class="registration-security-icon2">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span id="business-text" class="registration-security-text17">Select</span>
      </button>
    </div>
    <div class="registration-security-container4">
      <h1 class="registration-security-text18 notselectable">
        <span>Personal 🤵</span>
        <br />
      </h1>
        <div class="registration-security-container5">
            <h1 class="registration-security-text21 notselectable">
                <span>For everyday users</span>
                <br />
            </h1>
        </div>
      <h1 class="registration-security-text24 notselectable">
        <span>Balanced Security</span>
        <br />
      </h1>
        <h1 class="registration-security-text27 notselectable">
            <span>Convenience</span>
            <br />
        </h1>
        <h1 class="registration-security-text30 notselectable">
            <span>Suitable for most users</span>
        <br />
        </h1>
      <button
        type="button"
        id="personal"
        class="registration-security-button1 button"
        (click)="selectPersonal()"
      >
        <svg id="personal-icon" viewBox="0 0 1024 1024" class="registration-security-icon2">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span id="personal-text" class="registration-security-text33">Select</span>
      </button>
    </div>
  </div>
</div>
