<div class="profile-modal-container" [ngClass]="rootClassName">
  <div class="profile-modal-container1" [style]="{backgroundColor: banner_color}"></div>
  <div class="profile-modal-container2">
    <img
      id="avatar"
      alt="image"
      [attr.src]="profile_picture"
      class="profile-modal-image"
    />
    <div class="profile-modal-container3">
      <div class="profile-modal-container4">
        <h1 id="display_name" class="profile-modal-text notselectable">
          {{ display_name }}
        </h1>
        <h1 id="username" class="profile-modal-text1 notselectable">
          {{ username }}
        </h1>
        <h1 id="pronouns" class="profile-modal-text2 notselectable">
          {{ pronouns }}
        </h1>
      </div>
      <div class="profile-modal-container5"></div>
      <div class="profile-modal-container6">
        <span class="profile-modal-text3 notselectable">ABOUT ME</span>
        <textarea
          id="about_me_profile"
          disabled
          maxlength="190"
          [value]="(about_me != 'There\'s nothing here :(') ? about_me : ''"
          class="profile-modal-textarea textarea"
        ></textarea>
      </div>
    </div>
    <div id="badges" class="profile-modal-container7" *ngIf="badges.length >= 1">
      <div *ngFor="let badge of badges" [innerHTML]="badge.badge_html"></div>
    </div>
  </div>
</div>
