<div class="reset-password-container">
  <div class="reset-password-container1">
    <div class="reset-password-container2">
      <h1 class="reset-password-text notselectable">Reset Password</h1>
      <span class="reset-password-text1 notselectable">
        <span>
          Forgot your password? Need to change it? Well,
          <span [innerHTML]="rawtr7z"></span>
        </span>
        <br />
        <span>this is the place for it!</span>
      </span>
      <div class="reset-password-container3">
        <span class="reset-password-text5 notselectable">Email</span>
        <input
          type="email"
          id="email"
          max="6"
          min="6"
          step="0"
          required="true"
          placeholder="example@yourdomain.com"
          autocomplete="off"
          class="reset-password-textinput input"
        />
      </div>
      <button id="submit" type="button" class="reset-password-button button">
        <svg viewBox="0 0 1024 1024" class="reset-password-icon">
          <path
            d="M426 726l384-384-60-62-324 324-152-152-60 60zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="reset-password-text6">Submit Request</span>
      </button>
    </div>
  </div>
</div>
