<div class="change-email-step1-container">
  <h1 class="change-email-step1-text notselectable">Verify email address</h1>
  <span class="change-email-step1-text01 notselectable">
    <span>Hey there! We need to first verify your</span>
    <br />
    <span>old email in order to change it.</span>
    <br />
    <strong>{{email}}</strong>
    <br />
    <br />
    <span>Lost access to your email? Please contact</span>
    <br />
    <span>your email provider to regain access.</span>
    <br />
  </span>
  <button id="send" type="button" (click)="confirm()" class="change-email-step1-button button">
    <svg id="send-icon" viewBox="0 0 1024 1024" class="change-email-step1-icon">
      <path d="M86 896v-298l640-86-640-86v-298l896 384z"></path>
    </svg>
    <span id="send-text" class="change-email-step1-text13">Send Code</span>
      <div id="send-loader" class="edit-username-loader"></div>
  </button>
  <button id="cancel" type="button" class="change-email-step1-button1 button">
    <svg viewBox="0 0 1024 1024" class="change-email-step1-icon2">
      <path
        d="M726 666l-154-154 154-154-60-60-154 154-154-154-60 60 154 154-154 154 60 60 154-154 154 154zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
      ></path>
    </svg>
    <span class="change-email-step1-text14" (click)="closeDialog()">Cancel</span>
  </button>
</div>
