<div class="payment-method-container">
  <img alt="image" [attr.src]="logo" class="payment-method-image" />
  <div class="payment-method-container1">
    <h1 class="payment-method-text">{{ name }}</h1>
    <span>{{ details }}</span>
  </div>
  <button id="login" type="button" class="payment-method-button button">
    <svg viewBox="0 0 1024 1024" class="payment-method-icon">
      <path
        d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
      ></path>
    </svg>
  </button>
</div>
