.registration-next-container {
  margin: auto;
  width: 458px;
  height: 327px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.registration-next-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.registration-next-text {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.registration-next-container1 {
  top: 77px;
  left: 0px;
  right: 0px;
  width: 411px;
  margin: auto;
  position: absolute;
}
.registration-next-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.registration-next-text1 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.registration-next-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.registration-next-container3 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  flex-direction: column;
}
.registration-next-text2 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.registration-next-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.registration-next-button {
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 83%;
  bottom: 33px;
  height: 41px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.registration-next-button:hover {
  background-color: #1d74f9;
}
.registration-next-button:active {
  background-color: #0559da;
}
.registration-next-text3 {
  top: 7px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.registration-next-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
@media(max-width: 479px) {
  .registration-next-container {
    width: 95%;
    height: 333px;
  }
  .registration-next-button {
    top: 236px;
    width: 85%;
  }
  .registration-next-text3 {
    top: 8px;
    left: 16px;
    position: absolute;
  }
}
