.registration-finish-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-finish-container1 {
  width: 661px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-finish-text {
  color: #B9BBBE;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 3%;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-left: 2.5%;
}
.registration-finish-container2 {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: center;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: center;
}
.registration-finish-link {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 2.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link:hover {
  background-color: #353535;
}
.registration-finish-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.registration-finish-link1 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link1:hover {
  background-color: #353535;
}
.registration-finish-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.registration-finish-link2 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link2:hover {
  background-color: #353535;
}
.registration-finish-image2 {
  width: 56px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.registration-finish-link3 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link3:hover {
  background-color: #353535;
}
.registration-finish-image3 {
  width: 56px;
  height: 100%;
  object-fit: cover;
}
.registration-finish-link4 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link4:hover {
  background-color: #353535;
}
.registration-finish-image4 {
  width: 64px;
  height: 64px;
  align-self: center;
  object-fit: cover;
}
.registration-finish-link5 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link5:hover {
  background-color: #353535;
}
.registration-finish-image5 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.registration-finish-link6 {
  color: #FFFFFF;
  width: 78px;
  height: 70px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  margin-left: 1.5%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #202020;
}
.registration-finish-link6:hover {
  background-color: #353535;
}
.registration-finish-image6 {
  width: 50px;
  height: 50px;
  align-self: center;
  object-fit: cover;
}
.registration-finish-container3 {
  width: 517px;
  height: 259px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-finish-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.registration-finish-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.registration-finish-container4 {
  top: 84px;
  right: 23px;
  width: 65%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.registration-finish-text2 {
  color: rgb(144, 144, 144);
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.registration-finish-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.registration-finish-button {
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 85%;
  bottom: 29px;
  height: 41px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.registration-finish-button:hover {
  background-color: #1d74f9;
}
.registration-finish-button:active {
  background-color: #0559da;
}
.registration-finish-text3 {
  top: 7px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.registration-finish-container5 {
  top: 63px;
  left: 49px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.registration-finish-button1 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-maincolors-background);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: transparent;
}
.registration-finish-text4 {
  width: 0px;
  height: 0px;
  z-index: -10;
}
.registration-finish-image7 {
  top: 0px;
  left: 0px;
  width: 100px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.registration-finish-container6 {
  width: 661px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
}
.registration-finish-text5 {
  color: rgb(185, 187, 190);
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 3%;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-left: 2.5%;
}
.registration-finish-text6 {
  color: var(--dl-color-maincolors-textcolor);
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
}
.registration-finish-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 479px) {
  .registration-finish-container3 {
    width: 95%;
    height: 333px;
  }
  .registration-finish-button {
    top: 236px;
    width: 85%;
  }
  .registration-finish-text3 {
    top: 8px;
    left: 16px;
    position: absolute;
  }
}
